<div class="grid grid-cols-7 border-b border-gray-200 p-4">
    <div class="bg-primary h-10 w-10 rounded-full col-span-1"></div>
    <div class="col-span-6">
        <div><ion-text color="grey-dark" class="font-semibold text-base">Jordanatha Juta</ion-text></div>
        <div><ion-text color="grey-dark" class="text-sm">Rating: </ion-text> <ion-text color="success" class="font-semibold text-sm">8.9</ion-text> </div>
        <div><ion-text color="grey-500" class="text-sm">This menu is so good. I tried it and this tastes so good, the servings are accurate the ingredients also help me to become a better cook</ion-text></div>
    </div>
</div>
