<div class="w-full text-center flex items-center justify-between">
    <div (click)="changeDate('minus')" class="border rounded-full flex items-center justify-center">
        <feather-icon name="chevron-left" class="h-4 w-4"></feather-icon>
    </div>
    <div (click)="handleModalOperation()">
        <div>
            <ion-text color="grey-dark" class="text-lg font-semibold">{{ day }}</ion-text>
        </div>
        <div>
            <ion-text color="grey-dark" class="text-lg font-semibold">{{ date }}</ion-text>
        </div>
    </div>
    <div (click)="changeDate('plus')" class="border rounded-full flex items-center justify-center">
        <feather-icon name="chevron-right" class="h-4 w-4"></feather-icon>
    </div>
</div>

<ion-modal [isOpen]="openModal" style="--height: 40%; --border-radius: 10px;" class="bottom-modal"
           [keepContentsMounted]="true">
    <ng-template>
        <ion-header mode="ios">
            <ion-toolbar mode="md" class="closeable-modal-header toolbar-border-200">
                <div>
                    <ion-title></ion-title>
                </div>
            </ion-toolbar>
        </ion-header>
        <div>
            <div class="flex items-center justify-center">
                <ion-datetime
                        mode="ios"
                        class="date-picker"
                        presentation="date"
                        [preferWheel]="true"
                        [(ngModel)]="value"
                ></ion-datetime>
            </div>
            <ion-button (click)="handleDoneClick()" mode="ios" class="pt-2" color="success" size="block">Done
            </ion-button>
        </div>
    </ng-template>
</ion-modal>
