<ion-header mode="ios" class="bg-blank">
    <ion-toolbar mode="ios" class="no-border" color="blank">
        <div class="container">
            <ion-buttons slot="start">
                <ion-button mode="md"
                            [shape]="'round'" class="back-button" color="grey-dark"
                            (click)="dismiss()"
                >
                    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
    <div class="sticky-header">
        <div class="px-4"><ion-text class="text-2xl font-semibold" color="grey-dark">Nutrients in this menu</ion-text></div>
        <div class="px-4"><ion-text class="text-sm" color="grey-500">Based on 1 serving</ion-text></div>
    </div>
</ion-header>
<ion-content>
    <div class="py-4 px-4">
        <div *ngIf="nutrients">
            <div *ngFor="let nutrient of nutrients; let i = index" class="w-100 {{ i % 2 === 0 ? 'bg-gray-200' : 'bg-blank' }} px-2 py-3 grid grid-cols-3">
                <ion-text class="text-xs font-semibold">{{ nutrient.name }}</ion-text>
                <ion-text class="text-xs text-right font-semibold">{{ nutrient.amount }}{{ nutrient.unit }}</ion-text>
                <ion-text class="text-xs text-gray-500 text-right">{{ nutrient.dailyAmountPercentage }}%</ion-text>
            </div>
        </div>
    </div>
</ion-content>
