<mealme-common-snackbar-alert [error]="(error$ | async)"
                              [timer]="2000"
                              [floating]="false"
></mealme-common-snackbar-alert>
<mealme-common-snackbar-alert [success]="(success$ | async)"
                              [timer]="2000"
                              [floating]="false"
></mealme-common-snackbar-alert>
<ion-header mode="ios" class="bg-blank">
    <div class="grid grid-cols-4 gap-x-1">
        <ng-container *ngFor="let number of [1, 2, 3, 4]">
            <div class="w-full bg-{{ (step$ | async) >= number ? 'primary' : 'gray-200' }}" style="height: 8px;"></div>
        </ng-container>
    </div>
    <ion-toolbar class="no-border" mode="ios" color="blank">
        <div class="container">
            <ion-buttons slot="start" *ngIf="(step$ | async) !== 4">
                <ion-button mode="md" (click)="handlePrev()"
                            [shape]="'round'" class="back-button" color="grey-dark"
                >
                    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-blank">
    <div class="px-4" mealmeSticky>
        <div><ion-text color="grey-dark" class="text-2xl font-semibold">Create Menu</ion-text></div>
        <ng-container *ngIf="step$ | async; let step">
            <ng-container *ngIf="step === 1">
                <div class="leading-4 mt-2"><ion-text color="grey-500" class="text-sm font-semibold">For this step, input some basic information about the menu you are creating so that we know what is it about!</ion-text></div>
            </ng-container>
            <ng-container *ngIf="step === 2">
                <div class="leading-4 mt-2"><ion-text color="grey-500" class="text-sm font-semibold">For this step, input the detailed ingredients of the menu so that the people will know what is the menu consist of.</ion-text></div>
            </ng-container>
        </ng-container>
    </div>
    <div class="p-4">
        <ng-container *ngIf="step$ | async; let step">
            <ng-container *ngIf="step === 1">
                <mealme-meal-menu-basic-form #basicFormTpl (submitted)="handleBasicSubmit($event)" [form]="basicForm"></mealme-meal-menu-basic-form>
            </ng-container>
            <ng-container *ngIf="step === 2">
                <ion-button size="block" class="bg-blank" fill="outline">Add Ingredient</ion-button>
            </ng-container>
        </ng-container>
    </div>
</ion-content>
<ion-footer class="py-3 px-4 bg-blank" mode="ios">
    <ion-button [disabled]="loading$ | async" (click)="handleSubmits()" color="primary" fill="solid" expand="block" size="default"
                mode="ios" class="ion-no-margin leading-5 h-11"
    >
        <ng-container *ngTemplateOutlet="buttonFill"></ng-container>
    </ion-button>

    <ng-template #buttonFill>
        <ng-container *ngIf="loading$ | async else btnTpl">
            <ion-spinner name="crescent"></ion-spinner>
        </ng-container>
        <ng-template #btnTpl>
            {{ (step$ | async) === lastStep ? 'Submit' : 'Next' }}
        </ng-template>
    </ng-template>
</ion-footer>
