<ion-header mode="ios">
    <ion-toolbar mode="md" class="closeable-modal-header toolbar-border-200">
        <div>
            <ion-title></ion-title>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item (click)="dismiss()" style="--border-color: var(--ion-color-grey-200)" detail="false" button class="ion-no-padding ion-no-margin ion-no-border">
        <div class="pl-4 w-full flex items-center justify-center" style="padding-top: 1.125rem; padding-bottom: 1.125rem">
            <ion-text color="blue" class="font-semibold">Regenerate</ion-text>
        </div>
    </ion-item>
    <ion-item (click)="dismiss()" style="--border-color: var(--ion-color-grey-200)" detail="false" button class="ion-no-padding ion-no-margin ion-no-border">
        <div class="pl-4 w-full flex items-center justify-center" style="padding-top: 1.125rem; padding-bottom: 1.125rem">
            <ion-text color="blue" class="font-semibold">Like</ion-text>
        </div>
    </ion-item>
    <ion-item (click)="dismiss()" style="--border-color: var(--ion-color-grey-200)" detail="false" button class="ion-no-padding ion-no-margin ion-no-border">
        <div class="pl-4 w-full flex items-center justify-center" style="padding-top: 1.125rem; padding-bottom: 1.125rem">
            <ion-text color="danger" class="font-semibold">Dislike</ion-text>
        </div>
    </ion-item>
</ion-content>
