<ion-header mode="ios" class="bg-blank">
    <ion-toolbar mode="ios" color="blank" class="no-border">
        <div class="container">
            <ion-buttons slot="start">
                <ion-back-button [color]="'grey-dark'" mode="md" [defaultHref]="'/app/blank/account'"></ion-back-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
    <mealme-common-snackbar-alert [error]="(manageError$ | async)"
                                  [timer]="2000"
                                  [floating]="false"
    ></mealme-common-snackbar-alert>
    <mealme-common-snackbar-alert [success]="(manageSuccess$ | async)"
                                  [timer]="2000"
                                  [floating]="false"
    ></mealme-common-snackbar-alert>
</ion-header>
<ion-content class="bg-blank">
    <div class="px-4 pt-2 pb-4 flex items-center justify-between header-section">
        <div>
            <ion-text class="text-2xl font-semibold" color="grey-dark">Your Bookmarks </ion-text>
        </div>
    </div>
    <div class="px-4 h-full">
        <ng-container *ngIf="(loading$ | async); else noLoadingTpl">
            <div class="grid gap-2 grid-cols-2">
                <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
                    <mealme-next-meal-card [loading]="true" [isBookmark]="true"></mealme-next-meal-card>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #noLoadingTpl>
            <ng-container *ngIf="(bookmarks$ | async); let bookmarks">
                <ng-container *ngIf="bookmarks.data.length > 0; else noDataTpl">
                    <div class="grid gap-2 grid-cols-2">
                        <ng-container *ngFor="let item of bookmarks.data">
                            <mealme-next-meal-card (itemClicked)="handleOpenAction($event)" [bookmark]="item" [isBookmark]="true" [loading]="false"></mealme-next-meal-card>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </ng-template>
        <ng-template #noDataTpl>
            <div class="w-full h-3/4 flex items-center justify-center flex-col text-center">
                <img src="assets/icon/no-plan.svg" class="w-3/4">
                <div class="mt-3"><ion-text class="font-semibold text-xl">Oops! You haven't bookmarked anything</ion-text></div>
                <div class="mt-1"><ion-text class="font-semibold text-sm" color="grey-500">Try bookmarking some menus and come back here</ion-text></div>
            </div>
        </ng-template>
    </div>
</ion-content>
