<ion-content class="bg-blank">
    <div class="flex items-center justify-center">
        <img src="assets/logo.png" class="w-1/2 pt-4"/>
    </div>
    <div class="w-full h-3/4 flex items-center justify-center flex-col">
        <img src="assets/icon/working.svg" class="w-3/4">
        <div class="mt-3"><ion-text class="font-semibold text-xl">We are working on this feature</ion-text></div>
        <div class="mt-1"><ion-text class="font-semibold text-sm" color="grey-500">Stay tuned for our updates regarding this feature!</ion-text></div>
    </div>
</ion-content>