<ion-tabs>
    <ion-tab-bar slot="bottom" mode="md">
        <ion-tab-button tab="home" mode="md" (click)="handleTabClicked(scrollPointTargets.HOME)">
            <img src="assets/icons/bars/home.png" class="default-icon mb-1" />
            <img src="assets/icons/bars/home-active.png" class="active-icon mb-1" />
            <ion-label class="letter-spacing-0">Beranda</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="news" mode="md" (click)="handleTabClicked(scrollPointTargets.NEWS)">
            <img src="assets/icons/bars/news.svg" class="default-icon mb-1" />
            <img src="assets/icons/bars/news-active.svg" class="active-icon mb-1" />
            <ion-label class="letter-spacing-0">Berita</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="portfolios" mode="md" (click)="handleTabClicked(scrollPointTargets.PORTFOLIOS)">
            <img src="assets/icons/bars/notification.svg" class="default-icon mb-1" />
            <img src="assets/icons/bars/notification-active.svg" class="active-icon mb-1" />
            <ion-label class="letter-spacing-0">Notifikasi</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="prohub" mode="md" (click)="handleTabClicked(scrollPointTargets.PROHUB)">
            <img src="assets/icons/bars/profile.svg" class="default-icon mb-1" />
            <img src="assets/icons/bars/profile-active.svg" class="active-icon mb-1" />
            <ion-label class="letter-spacing-0">Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
