:host {
    ion-tab-button {
        > img {
            height: 22px;
            width: auto;
        }

        ion-label {
            font-size: 12px;
            font-weight: 600;
        }

        .default-icon {
            display: block;
        }

        .active-icon {
            display: none;
        }

        &.tab-selected {
            .default-icon {
                display: none;
            }

            .active-icon {
                display: block;
            }
        }
    }
}
