<form method="post" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">
    <ion-item class="form-group py-0" [class.form-group-error]="passwordErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Password</span></ion-label>
            <div class="input-group">
                <mealme-common-auth-password-input [nativeClass]="'form-control'"
                                                     class="form-control w-100"
                                                     formControlName="password" placeholder="Input password here"
                                                     [toggleColor]="'primary'"
                ></mealme-common-auth-password-input>
            </div>
            <ubud-form-error #passwordErrorTpl [control]="form.formGroup.get('password')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item class="form-group pb-0" [class.form-group-error]="passwordConfirmationErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Password Confirmation</span></ion-label>
            <div class="input-group">
                <mealme-common-auth-password-input [nativeClass]="'form-control'"
                                                     class="form-control w-100"
                                                     formControlName="passwordConfirmation" placeholder="Input password confirmation here"
                                                     [toggleColor]="'primary'"
                ></mealme-common-auth-password-input>
            </div>
            <ubud-form-error #passwordConfirmationErrorTpl [control]="form.formGroup.get('passwordConfirmation')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item class="ion-no-padding ion-no-margin" lines="none">
        <ion-checkbox class="checkbox-square" mode="md"
                      [(ngModel)]="receiveOffer"
                      [ngModelOptions]="{ standalone: true }"
                      (ngModelChange)="handleToggleOffer($event)"
        ></ion-checkbox>
        <ion-label class="ml-2.5" style="text-overflow: unset !important; white-space: unset !important;"><ion-text class="font-semibold" style="font-size: 14px !important; line-height: 0.1 !important;">Receive exclusive offers and promotion from Mealme </ion-text></ion-label>
    </ion-item>
    <button type="submit" class="hidden"></button>
</form>
