:host {
    ion-item {
        --inner-padding-end: 16px;
    }

    .elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 60px;
    }
}
