<ion-item style="--border-color: var(--ion-color-grey-200); --padding: 0 !important; --inner-padding-end: 0px;" detail="false" class="ion-no-padding ion-no-margin ion-no-border">
    <div class="px-4 w-full flex items-center justify-between" style="padding-top: 1.125rem; padding-bottom: 1.125rem">
        <div class="leading-5 text-base font-normal flex items-center">
            <div>
                <ion-text color="grey-500" [ngClass]="nativeClass" i18n>{{ title }}</ion-text>
            </div>
        </div>
        <div class="leading-5 text-base font-semibold flex items-center">
            <div>
                <ion-text color="grey-dark" [ngClass]="nativeClass" i18n>{{ data }}</ion-text>
            </div>
        </div>
    </div>
</ion-item>
