<ion-item [button]="isButton" (click)="clicked.emit()" style="--border-color: var(--ion-color-grey-200)" detail="false" class="ion-no-padding ion-no-margin ion-no-border">
    <div class="pl-4 w-full flex items-center justify-between" style="padding-top: 1.125rem; padding-bottom: 1.125rem">
        <div class="leading-5 text-base font-semibold flex items-center">
            <ng-container *ngIf="icon else logoTpl">
                <feather-icon [name]="icon" class="mr-3.5" [ngClass]="iconClass" [ngStyle]="iconStyle"></feather-icon>
            </ng-container>
            <ng-template #logoTpl>
                <img *ngIf="logo" class="mr-3.5" [src]="logo" [ngClass]="nativeLogoClass">
            </ng-template>
            <div>
                <div>
                    <ion-text [ngClass]="nativeClass" i18n>{{ title }}</ion-text>
                </div>
                <div class="mt-1" *ngIf="description">
                    <ion-text color="grey-500" class="text-sm font-normal" i18n>{{ description }}</ion-text>
                </div>
            </div>
        </div>
        <ng-container *ngIf="withArrow">
            <ng-container *ngIf="customArrow else defaultArrowTpl">
                <ng-content></ng-content>
            </ng-container>
            <ng-template #defaultArrowTpl>
                <feather-icon name="chevron-right" style="min-width: 24px;"></feather-icon>
            </ng-template>
        </ng-container>
    </div>
</ion-item>
