<mealme-common-snackbar-alert [error]="(generateError$ | async)"
                              [timer]="2000"
                              [floating]="false"
></mealme-common-snackbar-alert>
<mealme-common-snackbar-alert [success]="(generateSuccess$ | async)"
                              [timer]="2000"
                              [floating]="false"
></mealme-common-snackbar-alert>
<ion-header mode="md" class="border-none">
    <ion-toolbar style="--border-width: 0" class="bg-blank border-none flex items-center justify-center">
        <ion-buttons slot="start">
            <ion-back-button slot="start" text="" mode="md" defaultHref="app/tabs/home" color="grey-dark"></ion-back-button>
        </ion-buttons>
        <!--<ion-buttons slot="end">
            <ion-item style="&#45;&#45;border-style: none" detail="false" button class="ion-no-padding ion-no-margin ion-no-border bg-transparent ml-auto action-button-home">
                <feather-icon name="more-vertical" class="text-gray-dark h-5 w-5 font-semibold"></feather-icon>
            </ion-item>
        </ion-buttons>-->
    </ion-toolbar>
    <div class="px-4 pb-2 w-full bg-blank">
        <mealme-planner-date-selector (changed)="handleChangeDate($event)"></mealme-planner-date-selector>
    </div>
</ion-header>

<ion-content color="blank" [scrollEvents]="true">
    <div class="px-4 pt-6 h-full">
        <ng-container *ngIf="(loading$ | async); else noMealsLoadingTpl">
            <div>
                <div *ngFor="let item of [1, 2, 3]; let i = index"
                     class="w-full h-40 mb-3"
                >
                    <mealme-meal-plan-card [bigMode]="true" [loading]="true"></mealme-meal-plan-card>
                </div>
            </div>
        </ng-container>
        <ng-template #noMealsLoadingTpl>
            <ng-container *ngIf="plan$ | async as plan; else noDataTpl">
                <ng-container *ngIf="plan.planMenus.length > 0">
                    <div>
                        <div *ngFor="let meal of plan.planMenus; let i = index"
                             class="w-full h-40 mb-3"
                        >
                            <mealme-meal-plan-card (clicked)="handleMealClicked($event)" (actionClicked)="handleOpenAction()" [bigMode]="true" [loading]="false" [plan]="plan" [planMenu]="meal"></mealme-meal-plan-card>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #noDataTpl>
                <div class="w-full h-3/4 flex items-center justify-center flex-col">
                    <img src="assets/icon/no-plan.svg" class="w-3/4">
                    <div class="mt-3"><ion-text class="font-semibold text-xl">Oops! No meal plan found for today!</ion-text></div>
                    <div class="mt-1"><ion-text class="font-semibold text-sm" color="grey-500">Click button below to generate for today</ion-text></div>
                    <ion-button (click)="handleGenerateClicked()" class="mt-2" color="secondary" fill="outline" mode="ios" size="small">
                        <ng-container *ngIf="generateLoading$ | async else btnTpl">
                            <ion-spinner color="blank" name="crescent"></ion-spinner>
                        </ng-container>
                        <ng-template #btnTpl>
                            Generate Plan
                        </ng-template>
                    </ion-button>
                </div>
            </ng-template>
        </ng-template>
    </div>
</ion-content>
