<ion-tabs (ionTabsDidChange)="handleTabsChanged($event)">
    <ion-tab-bar style="border: 0 !important" slot="bottom" mode="ios">
        <ion-tab-button [tab]="pagesEnum.HOME">
            <feather-icon [name]="(selected$ | async) === pagesEnum.HOME ? 'home-fill' : 'home'"></feather-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button [tab]="pagesEnum.SEARCH">
            <feather-icon [name]="(selected$ | async) === pagesEnum.SEARCH ? 'search' : 'search'"></feather-icon>
            <ion-label>Search</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>


<!--<ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button color="white" class="gradien-qr rounded-full" (click)="handlePaymentQr()">
        <feather-icon name="scan"></feather-icon>
    </ion-fab-button>
    <div class="text-center">
        <ion-label class="text-xs font-bold" color="grey-400">Bayar</ion-label>
    </div>
</ion-fab>
<div class='manipulate rounded-t-full rounded-b-full'></div>-->
