:host{
    .gradien-qr {
        /* Background Round */
        background: linear-gradient(256.79deg, #4CAF50 0%, #1D75BC 100.51%);
    }

    ion-fab{
        bottom: 6px;
    }

    ion-fab::after {
        background-color: white;
    }

    .manipulate {
            height: 91px;
            background: white;
            width: 69px;
            display: block;
            max-width: 100%;
            position: absolute;
            bottom:0;
            left:50%;
            transform:translateX(-50%);
            box-shadow: 0 -2px 4px rgb(17 24 40 / 4%);
    }

    .manipulate:after{
        position: absolute;
        content: "";
        width: 75px;
        height: 57px;
        left: -4px;
        bottom: -2px;
        background: white;
    }




}
