<ion-card class="mb-0 mx-0 mt-0 rounded-lg border"
          [class.border-grey-200]="customBorder ? '' : 'border-grey-200'"
          mode="ios"
          [disabled]="disabled"
          (click)="itemClicked.emit()" [button]="true" [ngClass]="nativeClass"
>
    <ion-card-content [ngClass]="{ 'py-3' : logo, 'py-2.5' : !logo, 'px-1.5': pxSmaller, 'px-3': !pxSmaller }" mode="ios">
        <div class="flex flex-auto justify-between items-center">
            <div class="flex items-center">
                <ng-container *ngIf="icon else logoTpl">
                    <feather-icon [name]="icon" class="mr-3" [ngClass]="iconClass"></feather-icon>
                </ng-container>
                <ng-template #logoTpl>
                    <img *ngIf="logo && logo !== ''" class="mr-3" [ngClass]="logoClass" [src]="logo" />
                </ng-template>
                <ion-text [color]="color ? color : 'grey-dark'" class="text-sm">{{ title }}</ion-text>
            </div>
            <ng-container *ngIf="customArrow else defaultArrowTpl">
                <ng-content></ng-content>
            </ng-container>
            <ng-template #defaultArrowTpl>
                <feather-icon name="chevron-right"></feather-icon>
            </ng-template>
        </div>
    </ion-card-content>
</ion-card>
