<form method="post" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()" [ubudForm]="formState">
    <ion-item class="form-group py-0" [class.form-group-error]="emailErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Email</span></ion-label>
            <ion-input type="text" class="form-control" formControlName="username"
                       mode="ios"
                       placeholder="Input email here"></ion-input>
            <ubud-form-error #emailErrorTpl [control]="form.formGroup.get('username')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item class="form-group pb-0" [class.form-group-error]="passwordErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Password</span></ion-label>
            <div class="input-group">
                <mealme-common-auth-password-input [nativeClass]="'form-control'"
                                                            class="form-control w-100"
                                                            formControlName="password" placeholder="Input password here"
                                                            [toggleColor]="'primary'"
                ></mealme-common-auth-password-input>
            </div>
            <ubud-form-error #passwordErrorTpl [control]="form.formGroup.get('password')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <button type="submit" class="hidden"></button>
</form>
