<div style="padding-left: 10px; padding-right: 10px;">
    <img src="assets/images/commons/empty.svg" title="Empty" [ngStyle]="style" />
    <div class="content mt-2"><ng-content></ng-content></div>
</div>
