:host {
    .content {
        text-align: center;
        color: #212121;
        font-weight: 500;
        font-size: 14px;
    }

    img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
