:host {
    .average-rating-wrapper {
        width: 30%;
        text-align: center;
        margin-right: 20px;

        .average-rating-number {
            font-size: 40px !important;
            margin: 0 0 5px 0 !important;
        }
    }

    .rating-statistic-wrapper {
        width: 70%;
    }

    ion-progress-bar {
        height: 8px;
        border-radius: 30px;
        --background: var(--ion-color-light);
    }
}
