<div class="d-flex align-items-center">
    <div class="average-rating-wrapper">
        <h1 class="average-rating-number d-flex align-items-center justify-content-center">
            <ion-skeleton-text animated class="m-0 p-0" style="width: 50px; height: 40px;"></ion-skeleton-text>
        </h1>
        <div class="w-100 d-flex justify-content-center mt-3">
            <div class="d-flex align-items-center justify-content-center">
                <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 15px; height: 15px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 15px; height: 15px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 15px; height: 15px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 15px; height: 15px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="m-0 p-0 br-full" style="width: 15px; height: 15px;"></ion-skeleton-text>
            </div>
        </div>
        <div class="mt-2 text-center text-sm font-weight-500">
            <div class="d-flex align-items-center justify-content-center">
                <ion-skeleton-text animated class="m-0 p-0" style="width: 60%;"></ion-skeleton-text>
            </div>
        </div>
    </div>
    <div class="rating-statistic-wrapper">
        <div *ngFor="let item of [1, 1, 1, 1, 1]; let i = index" class="d-block">
            <div class="d-flex align-items-center"
                 [style.margin-bottom]="i !== 4 ? '12px' : null"
            >
                <div class="d-flex align-items-center justify-content-center" style="width: 50%;">
                    <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 12px; height: 12px;"></ion-skeleton-text>
                    <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 12px; height: 12px;"></ion-skeleton-text>
                    <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 12px; height: 12px;"></ion-skeleton-text>
                    <ion-skeleton-text animated class="m-0 p-0 mr-1 br-full" style="width: 12px; height: 12px;"></ion-skeleton-text>
                    <ion-skeleton-text animated class="m-0 p-0 br-full" style="width: 12px; height: 12px;"></ion-skeleton-text>
                </div>
                <ion-skeleton-text animated class="m-0 p-0" style="width: 40%;"></ion-skeleton-text>
                <div class="ml-2">
                    <ion-skeleton-text animated class="m-0 p-0" style="width: 15px;"></ion-skeleton-text>
                </div>
            </div>
        </div>
    </div>
</div>
