<ng-container *ngIf="rating; else noRatingTpl">
    <div class="d-flex align-items-center">
        <ion-text *ngFor="let rate of totalRating" class="mr-1">
            <fa-icon
                [icon]="rate.rating"
                class="rating-items"
                [ngClass]="nativeClass"
                [class.active]="rate.active"
                [ngStyle]="nativeStyle"
            ></fa-icon>
        </ion-text>
        <div class="rating-value ml-1" [ngClass]="textClass" *ngIf="showNumber">{{ rating }}</div>
    </div>
</ng-container>
<ng-template #noRatingTpl>
    <div class="d-flex align-items-center">
        <ion-text *ngFor="let num of [0, 1, 2, 3, 4]" class="mr-1">
            <fa-icon
                [icon]="['far', 'star']"
                class="rating-items"
                [ngClass]="nativeClass"
                [ngStyle]="nativeStyle"
            ></fa-icon>
        </ion-text>
        <div class="rating-value ml-1" [ngClass]="textClass" *ngIf="showNumber">{{ rating }}</div>
    </div>
</ng-template>
