:host {
    .rating-items {
        color: var(--ion-color-light);

        &.active {
            color: var(--ion-color-warning-tint);
        }
    }

    .rating-value {
        font-weight: 600;
    }
}
