<div class="d-flex align-items-center">
    <div class="average-rating-wrapper">
        <h1 class="average-rating-number ion-text-center">{{ averageRating }}</h1>
        <div class="w-100 d-flex justify-content-center">
            <rating-content [showNumber]="false" [rating]="averageRating"></rating-content>
        </div>
        <div class="mt-1 text-center text-sm font-weight-500">
            <ion-text color="muted">
                {{ totalRating }} ulasan
            </ion-text>
        </div>
    </div>
    <div class="rating-statistic-wrapper">
        <div *ngFor="let item of ratingStatistics; let i = index" class="d-block">
            <div class="d-flex align-items-center" [class.mb-1]="i !== (ratingStatistics.length - 1)">
                <p class="mr-1 my-0 font-weight-500 text-sm">
                    <rating-content [showNumber]="false" [rating]="item.rate"></rating-content>
                </p>
                <ion-progress-bar [value]="(item.percentage / 100)"></ion-progress-bar>
                <div class="ml-2">
                    <div style="width: 40px">
                        <ion-text class="text-sm font-weight-500">
                            {{ item.percentage }}%
                        </ion-text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
