<mealme-common-snackbar-alert [error]="(bookmarkError$ | async)"
                              [timer]="2000"
                              [floating]="false"
></mealme-common-snackbar-alert>
<mealme-common-snackbar-alert [success]="(bookmarkSuccess$ | async)"
                              [timer]="2000"
                              [floating]="false"
></mealme-common-snackbar-alert>
<ion-header mode="ios">
    <ion-toolbar #toolbarEl class="bg-blank no-border {{ isScrolled ? 'toolbar-border-200' : 'toolbar-blank' }}" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button [color]="'grey-dark'" mode="md" [defaultHref]="'/app/blank/planner'"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="mr-1.5">
            <ion-button (click)="handleOpenAction()" mode="ios" fill="clear" [color]="'grey-dark'">
                <feather-icon class="h-6 w-6" name="more-horizontal"></feather-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="handleScroll($event)">
    <ng-container *ngIf="(loading$ | async); else noDetailLoadingTpl">
        <div class="px-4 mb-3">
            <ion-skeleton-text animated class="w-full mb-2" style="height: 16px;"></ion-skeleton-text>
            <ion-skeleton-text animated class="w-3/4 mb-2" style="height: 16px;"></ion-skeleton-text>
            <ion-skeleton-text animated class="w-1/3 mb-2" style="height: 14px;"></ion-skeleton-text>
        </div>
        <ion-skeleton-text animated class="w-full mb-2" style="height: 250px;"></ion-skeleton-text>
    </ng-container>
    <ng-template #noDetailLoadingTpl>
        <ng-container *ngIf="menu$ | async as menu">
            <div class="px-4 mt-2">
                <ion-text class="text-2xl font-semibold" color="grey-dark">{{ menu.title }}</ion-text>
            </div>
            <div class="px-4 mb-3 mt-1">
                <ion-text class="text-base font-semibold" color="grey-500">by Mealme Kitchen </ion-text>
            </div>
            <div class="banner-section">
                <div class="relative">
                    <img [src]="menu.imageUrl" class="banner-image"/>
                    <div class="banner-overlay">
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <div class="pt-4 pb-2">
        <div class="px-4">
            <ng-container *ngIf="(loading$ | async); else noDescriptionLoadingTpl">
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-3/4 mb-2" style="height: 14px;"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-full mb-2 mt-4" style="height: 100px;"></ion-skeleton-text>
            </ng-container>
            <ng-template #noDescriptionLoadingTpl>
                <ng-container *ngIf="menu$ | async as menu">
                    <div>
                        <ion-text class="text-sm" color="grey-dark" [innerHTML]="menu.description"></ion-text>
                    </div>
                </ng-container>
            </ng-template>
            <ng-container *ngIf="menu$ | async as menu">
                <div class="pt-4">
                    <div class="grid grid-cols-3 gap-x-2">
                        <div class="col-span-1">
                            <div class="text-center"><ion-text class="text-gray-dark">Health score:</ion-text></div>
                            <div class="text-center mt-1"><ion-text class="{{ menu.healthScore <= 100 && menu.healthScore >= 70 ? 'text-success' : '' }} {{ menu.healthScore <= 69 && menu.healthScore >= 40 ? 'text-warning' : '' }} {{ menu.healthScore <= 39 && menu.healthScore >= 0 ? 'text-danger' : '' }} {{ menu.healthScore < 100 ? 'text-7xl' : 'text-6xl' }} font-semibold">{{ menu.healthScore }}</ion-text></div>
                        </div>
                        <div *ngIf="trimmedMenuNutrients$ | async; let nutrients" class="col-span-2">
                            <div *ngFor="let nutrient of nutrients; let i = index" class="w-100 {{ i % 2 === 0 ? 'bg-gray-200' : 'bg-blank' }} px-2 py-1 grid grid-cols-3">
                                <ion-text class="text-xs font-semibold">{{ nutrient.name }}</ion-text>
                                <ion-text class="text-xs text-right font-semibold">{{ nutrient.amount }}{{ nutrient.unit }}</ion-text>
                                <ion-text class="text-xs text-gray-500 text-right">{{ nutrient.dailyAmountPercentage }}%</ion-text>
                            </div>
                        </div>
                    </div>
                    <div (click)="handleOpenNutrientModal()" class="w-full text-right">
                        <ion-text color="grey-500" class="text-xs">View nutrient details >></ion-text>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div #tabContent class="bg-blank sticky-header">
        <mealme-common-stripper-tab
            [isRoute]="false"
            [currentActive]="activeTab"
            [centerTabs]="true"
            [tabs]="tabs"
            (clicked)="handleTabClicked($event)"
        ></mealme-common-stripper-tab>
    </div>

    <div #ingredientsContent class="{{ activeTab !== 'ingredients' ? 'hidden' : '' }}">
        <div>
            <ng-container *ngIf="ingredientsLoading$ | async; else noIngredientsLoadingTpl">
                <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
                    <mealme-ingredient-item [loading]="true"></mealme-ingredient-item>
                </ng-container>
            </ng-container>
            <ng-template #noIngredientsLoadingTpl>
                <ng-container *ngIf="menuIngredients$ | async as ingredients">
                    <ng-container *ngFor="let ingredient of ingredients">
                        <mealme-ingredient-item [ingredient]="ingredient"></mealme-ingredient-item>
                    </ng-container>
                </ng-container>
            </ng-template>
        </div>
    </div>
    <div #instructionsContent class="{{ activeTab !== 'instructions' ? 'hidden' : '' }}">
        <div class="px-4 py-2">
            <ng-container *ngIf="(instructionsLoading$ | async); else noInstructionsLoadingTpl">
                <div class="h-96 w-full flex items-center justify-center">
                    <ion-spinner name="crescent"></ion-spinner>
                </div>
            </ng-container>
            <ng-template #noInstructionsLoadingTpl>
                <ng-container *ngIf="menuInstructions$ | async as instructions">
                    <ng-container *ngFor="let instruction of instructions; let i = index">
                        <div class="relative">
                            <ion-card class="border rounded-lg border-gray-200 p-3">
                                {{ instruction.instruction }}
                            </ion-card>
                            <div style="top: -13px; right: 45%; padding: 5px 10px" class="absolute rounded-lg bg-primary flex items-center justify-center">
                                <ion-text class="text-sm font-semibold" color="blank">
                                    {{ (i+1 < 10) ? '0' + (i+1) : i+1 }}
                                </ion-text>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-template>
        </div>
    </div>
    <div #reviewsContent class="{{ activeTab !== 'reviews' ? 'hidden' : '' }}">
        <div>
            <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
                <mealme-review-item></mealme-review-item>
            </ng-container>
        </div>
    </div>
</ion-content>

<ion-footer class="bg-blank px-4 py-2">
    <ion-button size="block">
        <ion-text class="capitalize">I made this</ion-text>
    </ion-button>
</ion-footer>
