:host {

    .toolbar-transparent {
        --background: transparent;
        --border-width: 0;
        --ion-color-base: transparent !important;
    }

    .banner-section {

        .banner-image {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }

        .banner-overlay {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(17, 24, 40, 0.3);
            height: 250px;
            width: 100%;
        }
    }

    .banner-info {
        margin-top: -70px;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        z-index: 100000;
    }
}
