<ion-content class="bg-blank" [fullscreen]="true" [scrollEvents]="true">
    <div class="mt-2 px-2">
        <ion-buttons slot="start">
            <ion-back-button slot="start" text="" mode="md" defaultHref="app/tabs/home" color="grey-dark"></ion-back-button>
        </ion-buttons>
        <div class="w-full flex items-center justify-center">
            <div class="rounded-full bg-secondary-shade h-20 w-20 flex items-center justify-center">
                <ion-text color="blank" class="text-2xl">{{ (authenticatedUser$ | async)?.firstName.charAt(0) }}</ion-text>
            </div>
        </div>
    </div>
    <div class="mt-4 flex items-center justify-center w-full">
        <ion-text color="grey-dark" class="font-semibold text-normal">{{ (authenticatedUser$ | async)?.firstName }} {{ (authenticatedUser$ | async)?.lastName }}</ion-text>
    </div>
    <div class="mx-12 mt-4 border border-gray-200 rounded flex items-center justify-center text-center">
        <div class="border-r w-full text-center py-1">
            <div><ion-text class="text-sm" color="grey-400">Meals Made</ion-text></div>
            <div><ion-text class="text-sm font-bold" color="grey-dark">0</ion-text></div>
        </div>
        <div class="border-l w-full text-center py-1">
            <div><ion-text class="text-sm" color="grey-400">Bookmarks</ion-text></div>
            <div><ion-text class="text-sm font-bold" color="grey-dark">0</ion-text></div>
        </div>
    </div>
    <div class="mt-6">
        <hr class="separator bg-gray-200">
        <div class="pt-4 pb-3 px-4">
            <div class="flex items-center w-full">
                <ion-text color="grey-dark" class="text-2xl font-semibold">User Information</ion-text>
                <!--<feather-icon name="edit-2" class="ml-auto h-5 w-5"></feather-icon>-->
            </div>
        </div>
        <mealme-common-data-list-item title="Email" [data]="(authenticatedUser$ | async)?.email"></mealme-common-data-list-item>
        <mealme-common-data-list-item title="Phone Number" [data]="(authenticatedUser$ | async)?.phone"></mealme-common-data-list-item>
    </div>
    <hr class="separator bg-gray-200">
    <div class="pt-4 pb-3 px-4">
        <div class="flex items-center w-full">
            <ion-text color="grey-dark" class="text-2xl font-semibold">About You</ion-text>
        </div>
    </div>
    <mealme-common-list-item
            [title]="'Preferences'"
            [isButton]="true"
            [nativeClass]="'text-grey-dark font-semibold'"
            (clicked)="handleOpenAction()"
    ></mealme-common-list-item>
    <mealme-common-list-item
            [title]="'Bookmarks'"
            (clicked)="handleNavigate('/app/blank/account/bookmark')"
            [isButton]="true"
            [nativeClass]="'text-grey-dark font-semibold'"
    ></mealme-common-list-item>
    <div class="px-4 mt-4">
        <ion-button (click)="handleLogout()" mode="ios" size="block" fill="outline" color="danger">
            <ng-container *ngIf="loading$ | async else btnTpl">
                <ion-spinner name="crescent" color="danger"></ion-spinner>
            </ng-container>
            <ng-template #btnTpl>
                <feather-icon name="log-out" class="mr-1"></feather-icon>
                Logout
            </ng-template>
        </ion-button>
    </div>
</ion-content>
