:host {
    .wrapper {
        position: relative;

        ion-input {
            --padding-end: 35px !important;
        }

        ion-button {
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            color: #757575;
        }
    }
}
