<div class="wrapper">
    <ion-input [type]="!showPassword ? 'password' : 'text'" [ngClass]="nativeClass" [ngStyle]="nativeStyle"
               [disabled]="disabled"
               (ionInput)="handleInput($event)"
               [placeholder]="placeholder"
               [clearOnEdit]="false"
               mode="ios"
               #input
    ></ion-input>
    <ion-button [color]="toggleColor" mode="ios" size="small" fill="clear"
                class="tracking-normal capitalize m-0 font-medium toggle"
                (click)="showPassword = !showPassword; input.setFocus()"
                buttonType="button"
    >
        <ng-container *ngIf="showPassword"><ion-icon name="eye-off-outline"></ion-icon></ng-container>
        <ng-container *ngIf="!showPassword"><ion-icon name="eye-outline"></ion-icon></ng-container>
    </ion-button>
</div>
