<div class="form-control currency-input-wrapper" [ngStyle]="nativeStyle" [ngClass]="nativeClass">
    <ng-container *ngIf="format.style === 'currency' && !hideSymbol">
        <span *ngIf="_formattedValue" [ngClass]="inputNativeClass || labelNativeClass">{{ getCurrencySymbol() }}</span>
    </ng-container>
    <input type="text" (input)="onInput($event)" #textInput
           [value]="_formattedValue"
           [placeholder]="placeholder || 'Rp0'"
           class="text-sm"
           [ngClass]="inputNativeClass"
           (focus)="focused.emit($event)"
           (click)="focused.emit($event)"
           [readOnly]="disabled"
    />
</div>
