:host {
    width: 100%;

    .currency-input-wrapper {
        display: flex;
        align-items: center;
        height: 44px;

        input {
            -webkit-appearance: none;
            border: none;
            background: transparent;
            flex: 1;
            outline: none;
            width: 100%;

            ::placeholder {
                color: #D1D4DB;
            }
        }
    }
}
