<div class="p-4 text-grey-800">
    <div class="confirmation-header flex items-center">
        <div class="title-wrapper flex-1 pr-2">
            <ng-container *ngIf="title$ | async as title">
                <div style="font-size: 18px" class="font-bold text-gray-900 text-center" [innerHTML]="title"></div>
            </ng-container>
        </div>
    </div>
    <div class="confirmation-content">
        <ng-container *ngIf="question$ | async as question">
            <div class="question-wrapper pt-3 text-center">
                <div class="font-normal text-grey-500 text-sm" [innerHTML]="question"></div>
            </div>
        </ng-container>
    </div>
    <div class="confirmation-action pt-6 space-y-2">
        <ion-button mode="ios"
                    color="primary"
                    class="m-0 text-sm font-bold"
                    expand="block"
                    (click)="confirmed()"
        >
            <span>{{ confirmButtonText$ | async }}</span>
        </ion-button>
        <ng-container *ngIf="cancelButtonText$ | async as cancelButtonText">
            <ion-button mode="ios"
                        color="blank"
                        class="m-0 text-sm font-bold"
                        expand="block"
                        fill="clear"
                        (click)="close()"
            >
                <span class="text-gray-400">{{ cancelButtonText }}</span>
            </ion-button>
        </ng-container>
    </div>
</div>
