:host {
    .ingredient-wrapper {
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 50px;
        width: 50px;
        padding: 5px;

        .ingredient-image {
            object-fit: contain;
            height: 30px;
            width: 30px;
        }
    }
}
