<ng-container *ngIf="loading; else noLoadingTpl">
    <ion-item style="--border-color: var(--ion-color-grey-200)" detail="false" class="ion-no-padding ion-no-margin ion-no-border">
        <div class="flex px-4 py-3 items-center justify-center w-100">
            <ion-skeleton-text animated style="width: 50px; height: 50px"></ion-skeleton-text>
            <div class="ml-3">
                <div>
                    <ion-skeleton-text animated class="w-14 h-4"></ion-skeleton-text>
                </div>
                <div>
                    <ion-skeleton-text animated class="w-24 h-3"></ion-skeleton-text>
                </div>
            </div>
            <div class="ml-auto">
                <ion-skeleton-text animated class="w-10 h-4"></ion-skeleton-text>
            </div>
        </div>
    </ion-item>
</ng-container>
<ng-template #noLoadingTpl>
    <ion-item style="--border-color: var(--ion-color-grey-200)" detail="false" class="ion-no-padding ion-no-margin ion-no-border">
        <div class="flex px-4 py-3 items-center justify-center w-100">
            <div class="ingredient-wrapper border border-grey-100 flex items-center justify-center">
                <img class="ingredient-image" [src]="ingredient.ingredient.imageUrl"/>
            </div>
            <div class="ml-3">
                <div><ion-text color="grey-dark" class="font-semibold text-sm">{{ ingredient.amount }} {{ ingredient.unit }} </ion-text> <ion-text color="grey-dark" class="text-sm">{{ ingredient.ingredient.name }}</ion-text></div>
                <div><ion-text color="grey-500" class="font-semibold text-xs">{{ ingredient.name }}</ion-text></div>
            </div>
            <div class="ml-auto">
            </div>
        </div>
    </ion-item>
</ng-template>