:host {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(17, 24, 40, 0.5);
        height: 400px;
        width: 100%;
    }

    ion-item {
        --height: 16px;
        --padding-end: 0;
        --inner-padding-end: 0px;
        --min-height: 16px;
        --border-style: none;
    }

    .action-button {
        position: absolute;
        bottom: 12px;
        right: 20px;
    }

    .home-card {
        height: 50vh !important;

        .overlay {
            height: 50vh !important;
        }
    }

    .action-button-home {
        position: absolute;
        top: 24px;
        right: 24px;
    }
}
