<ng-container *ngIf="bigMode else homeModeTpl">
    <ng-container *ngIf="loading; else noLoadingTpl">
        <ion-skeleton-text animated class="w-full h-40"></ion-skeleton-text>
    </ng-container>

    <ng-template #noLoadingTpl>
        <div class="w-full relative">
            <ion-card (click)="clicked.emit(planMenu)" [button]="true" class="mb-0 mx-0 mt-0 rounded-lg border order-lg h-40 border-grey-200 w-full"
                      mode="ios"
            >
                <img [src]="planMenu.menu.imageUrl" class="object-cover w-full h-full"/>
                <div class="overlay h-40">
                    <div class="px-3 pb-2 pt-3 h-full flex flex-col">
                        <div class="flex w-full justify-end"><ion-text color="blank" class="text-sm font-bold capitalize">{{ planMenu.mealTime }}</ion-text></div>
                        <div class="mb-1 text-blank text-2xl text-over w-full"><ion-text color="blank" class="text-2xl font-semibold">{{ planMenu.menu.title }}</ion-text> </div>
                        <div><ion-text color="blank" class="text-sm">by <ion-text color="blank" class="font-semibold text-sm">Mealme Kitchen</ion-text> </ion-text> </div>
                        <div class="flex items-center mt-auto mb-1">
                            <feather-icon name="clock" class="text-blank opacity-80 h-3.5 w-3.5 font-semibold mr-1"></feather-icon>
                            <div class="mr-2"><ion-text color="blank" class="font-semibold text-sm">{{ planMenu.menu.duration }} mins</ion-text></div>
                            <feather-icon name="fire-fill" class="text-blank h-3.5 w-3.5 font-semibold mr-1"></feather-icon>
                            <div class="mr-2"><ion-text color="blank" class="font-semibold text-sm">{{ planMenu.menu.calorieAmount }} Cal</ion-text></div>
                        </div>
                    </div>
                </div>
            </ion-card>
            <ion-item (click)="actionClicked.emit(meal)" detail="false" button class="ion-no-padding ion-no-margin ion-no-border bg-transparent action-button flex items-center justify-center">
                <div class="ml-auto px-1 rounded-full bg-blank/[.06] flex items-center justify-center">
                    <feather-icon name="more-horizontal" class="text-blank h-3.5 w-5 font-semibold mb-1"></feather-icon>
                </div>
            </ion-item>
        </div>
    </ng-template>
</ng-container>

<ng-template #homeModeTpl>
    <ng-container *ngIf="loading; else noLoadingTpl">
        <ion-skeleton-text animated style="width: 100%; height: 50vh;"></ion-skeleton-text>
    </ng-container>

    <ng-template #noLoadingTpl>
        <div class="w-full relative">
            <!--<ion-item (click)="actionClicked.emit(meal)" detail="false" button class="ion-no-padding ion-no-margin ion-no-border bg-transparent ml-auto action-button-home">
                <feather-icon name="bookmark" class="text-blank h-6 w-6 font-semibold"></feather-icon>
            </ion-item>-->
            <ion-card (click)="clicked.emit(planMenu)" [button]="true" class="mb-0 mx-0 mt-0 rounded-lg border order-lg border-grey-200 relative home-card"
                      mode="ios"
            >
                <img [src]="planMenu.menu.imageUrl" class="object-cover" style="height: 50vh !important"/>
                <div class="overlay">
                    <div class="p-4 flex flex-col h-full">
                        <div class="flex items-center justify-between w-full">
                            <div>
                                <div class="text-start mb-1"><ion-text color="blank" class="text-base">{{ plan.date | date: 'fullDate' : undefined : 'en-US' }}</ion-text> </div>
                                <div class="text-start"><ion-text color="blank" class="text-base font-semibold capitalize">{{ planMenu.mealTime }}</ion-text></div>
                            </div>
                        </div>
                        <div class="mt-auto text-start">
                            <div class="mb-1 text-blank text-2xl text-over w-full"><ion-text color="blank" class="text-2xl font-semibold">{{ planMenu.menu.title }}</ion-text> </div>
                            <div class="mb-2"><ion-text color="blank" class="text-lg font-semibold">by <ion-text color="blank" class="font-bold">Mealme Kitchen</ion-text></ion-text> </div>
                            <div class="flex items-center">
                                <feather-icon name="clock" class="text-blank opacity-80 h-3.5 w-3.5 font-semibold mr-1"></feather-icon>
                                <div class="mr-2"><ion-text color="blank" class="font-semibold text-sm">{{ planMenu.menu.duration }} mins</ion-text></div>
                                <feather-icon name="fire-fill" class="text-blank h-3.5 w-3.5 font-semibold mr-1"></feather-icon>
                                <div class="mr-2"><ion-text color="blank" class="font-semibold text-sm">{{ planMenu.menu.calorieAmount }} Cal</ion-text></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card>

        </div>
    </ng-template>
</ng-template>
