<mealme-common-snackbar-alert [error]="(error$ | async)"
                                [timer]="2000"
                                [floating]="false"
></mealme-common-snackbar-alert>
<mealme-common-snackbar-alert [success]="(success$ | async)"
                                [timer]="2000"
                                [floating]="false"
></mealme-common-snackbar-alert>
<div class="px-4 mt-12">
    <img src="assets/logo.png" style="width: 130px"/>

    <div class="mt-14">
        <div>
            <ion-text class="font-semibold" style="font-size: 32px;">Welcome Back!</ion-text>
        </div>
        <div class="mt-4">
            <ion-text class="font-semibold text-normal">Login to access the Mealme App and start planning your meal in Mealme.</ion-text>
        </div>
        <div class="mt-6">
            <mealme-common-auth-login-form (submitted)="handleSubmit($event)" #formTpl [form]="form"
            ></mealme-common-auth-login-form>
        </div>
        <div class="mt-2 text-sm w-full flex items-center justify-end">
            <ion-text class="font-bold">Forgot password?</ion-text>
        </div>

        <div class="mt-10">
            <ion-button mode="ios" color="primary"
                        fill="solid"
                        class="ion-border m-0 h-12 mb-2"
                        shape="rounded-lg"
                        expand="block"
                        size="custom"
                        (click)="formTpl.submit()"
                        [disabled]="loading$ | async"
            >
                <ng-container *ngIf="(loading$ | async) else btnTpl">
                    <ion-spinner name="crescent"></ion-spinner>
                </ng-container>
                <ng-template #btnTpl>
                    <span i18n>Login</span>
                </ng-template>
            </ion-button>
        </div>

        <div class="w-full flex mt-3 items-center justify-center">
            <div>
                <ion-text class="mr-1">Don't have an account?</ion-text> <ion-text (click)="handleRegisterClicked()" class="text-primary font-semibold">Register now!</ion-text>
            </div>
        </div>
    </div>
</div>
