:host {
    .profile-picture {
        border-radius: 100%;
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .qr-button {
        --padding-bottom: 8px;
        --padding-top: 8px;
        height: 50px;
    }

    .blank-section {
        background-color: var(--ion-color-primary-contrast);
    }
}
