<div id="container">
  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  <ion-text color="blank" class="text-xl font-bold">asdasdaknfioadjshfgj</ion-text>
</div>
