<ion-header mode="ios" class="bg-blank">
    <ion-toolbar mode="ios" color="blank">
        <div class="container">
            <ion-title color="grey-dark" class="text-lg font-semibold leading-6 px-14">
                <span i18n>Personalize Your Menu</span>
            </ion-title>
            <ion-buttons slot="start">
                <ion-button mode="md"
                            [shape]="'round'" class="back-button" color="grey-dark"
                            (click)="handlePrev()"
                >
                    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
    <div class="grid grid-cols-4 gap-x-1">
        <ng-container *ngFor="let number of [1, 2, 3, 4]">
            <div class="w-full bg-{{ (step$ | async) >= number ? 'primary' : 'grey-200' }}" style="height: 8px;"></div>
        </ng-container>
    </div>
    <mealme-common-snackbar-alert [error]="(error$ | async)"
                                  [timer]="2000"
    ></mealme-common-snackbar-alert>
    <mealme-common-snackbar-alert [success]="(success$ | async)"
                                  [timer]="2000"
    ></mealme-common-snackbar-alert>
</ion-header>

<ion-content class="bg-blank">
    <div class="{{ (step$ | async) !== 1 ? 'hidden' : '' }}">
        <div class="my-6 mx-4">
            <div class="mb-2"><ion-text class="text-2xl font-bold">Likings</ion-text></div>
            <div><ion-text class="font-normal" color="grey-500">Here, Insert your favorite ingedients to use for your future meals so that we can arrange the meal plan based on your likings.</ion-text></div>
        </div>
        <hr class="separator bg-gray-100"/>
        <div>
            <mealme-common-list-item
                [title]="'Choose Your Ingredients'"
                (clicked)="handleOpenModal('likes')"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </div>
        <ng-container
            *ngFor="let ingredient of chosenLikes"
        >
            <mealme-common-list-item
                [isButton]="false"
                [title]="ingredient.name"
                [logo]="ingredient.imageUrl"
                [withArrow]="false"
                [nativeLogoClass]="'h-8 w-8'"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </ng-container>
    </div>
    <div class="{{ (step$ | async) !== 2 ? 'hidden' : '' }}">
        <div class="my-6 mx-4">
            <div class="mb-2"><ion-text class="text-2xl font-bold">Dislikes</ion-text></div>
            <div><ion-text class="font-normal" color="grey-500">Here, Insert ingredients that you do not like to use for your future meals so that we can arrange the meal plan based on ingredients that you do not like.</ion-text></div>
        </div>
        <hr class="separator bg-gray-100"/>
        <div>
            <mealme-common-list-item
                [title]="'Choose Your Ingredients'"
                (clicked)="handleOpenModal('dislikes')"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </div>
        <ng-container
            *ngFor="let ingredient of chosenDislikes"
        >
            <mealme-common-list-item
                [isButton]="false"
                [title]="ingredient.name"
                [logo]="ingredient.imageUrl"
                [withArrow]="false"
                [nativeLogoClass]="'h-8 w-8'"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </ng-container>
    </div>
    <div class="{{ (step$ | async) !== 3 ? 'hidden' : '' }}">
        <div class="my-6 mx-4">
            <div class="mb-2"><ion-text class="text-2xl font-bold">Allergies</ion-text></div>
            <div><ion-text class="font-normal" color="grey-500">Here, allergies that you have for your future meals so that we can avoid the ingredients to be genereated on your meal plan.</ion-text></div>
        </div>
        <hr class="separator bg-gray-100"/>
        <div>
            <mealme-common-list-item
                [title]="'Choose Your Ingredients'"
                (clicked)="handleOpenModal('allergies')"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </div>
        <ng-container
            *ngFor="let ingredient of chosenAllergies"
        >
            <mealme-common-list-item
                [isButton]="false"
                [title]="ingredient.name"
                [logo]="ingredient.imageUrl"
                [withArrow]="false"
                [nativeLogoClass]="'h-8 w-8'"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </ng-container>
    </div>
    <div class="{{ (step$ | async) !== 4 ? 'hidden' : '' }}">
        <div class="my-6 mx-4">
            <div class="mb-2"><ion-text class="text-2xl font-bold">Diets</ion-text></div>
            <div><ion-text class="font-normal" color="grey-500">Here, if you have any kind of diet, please fill this form so that we can generate the meals based on your diet plan.</ion-text></div>
        </div>
        <hr class="separator bg-gray-100"/>
        <div>
            <mealme-common-list-item
                [title]="'Choose Your Diet Types'"
                (clicked)="handleOpenDietModal()"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </div>
        <ng-container
            *ngFor="let dietType of chosenDietTypes"
        >
            <mealme-common-list-item
                [isButton]="false"
                [title]="dietType.name"
                [description]="'Lorem ipsum dolor sir amet'"
                [withArrow]="false"
                [nativeLogoClass]="'h-8 w-8'"
                [nativeClass]="'text-grey-dark font-semibold'"
            ></mealme-common-list-item>
        </ng-container>
    </div>
</ion-content>

<ion-footer class="p-4 bg-blank" mode="ios">
    <ion-button color="primary" fill="solid" expand="block" size="default"
                mode="ios" class="ion-no-margin leading-5 h-11"
                (click)="handleNext()" [disabled]="loading$ | async"
    >
        <ng-container *ngTemplateOutlet="buttonFill"></ng-container>
    </ion-button>

    <ng-template #buttonFill>
        <ng-container *ngIf="loading$ | async else btnTpl">
            <ion-spinner name="crescent"></ion-spinner>
        </ng-container>
        <ng-template #btnTpl>
            {{ (step$ | async) === lastStep ? 'Submit' : 'Next' }}
        </ng-template>
    </ng-template>
</ion-footer>
