<div class="snackbar-wrapper"
     mealmeSticky
     [class.active]="isActive$ | async"
     [class.floating]="floating"
     [class.floating-sm]="floatingSm"
     [ngClass]="nativeClass"
>
    <div class="px-4 py-3 font-normal snackbar"
         [class.text-center]="!cancelable"
         [class.flex]="cancelable"
         [class.items-center]="cancelable"
         [class.justify-between]="cancelable"
         [class.text-danger]="type === 'error'"
         [class.text-success-dark]="type === 'success'"
         [class.bg-danger-light]="type === 'error'"
         [class.bg-success-light]="type === 'success'"
         [class.text-blank]="type === 'primary'"
         [class.bg-primary-dark]="type === 'primary'"
    >
        <ng-container *ngIf="cancelable else notCancelableTpl">
            <div [innerHTML]="message"></div>
            <div class="ctrl ml-2">
                <ion-buttons class="close-button -mr-2">
                    <ion-button mode="ios"
                                (click)="handleClose()"
                                [shape]="'round'"
                                size="custom"
                                class="h-10 w-10 no-shadow"
                    >
                        <feather-icon name="x"
                                      class="w-6 h-6"
                                      [class.text-blank]="type === 'primary'"
                                      [class.text-danger]="type === 'error'"
                                      [class.text-success-dark]="type === 'success'"
                        ></feather-icon>
                    </ion-button>
                </ion-buttons>
            </div>
        </ng-container>
        <ng-template #notCancelableTpl>
            <div [innerHTML]="message"></div>
        </ng-template>
    </div>
</div>
