:host {
    .snackbar-wrapper {
        position: fixed;
        top: 0;
        left: 49.9999%;
        height: auto;
        overflow: hidden;
        word-break: break-word;
        font-size: 0.875rem;
        width: 100%;
        opacity: 0;
        transition: 0.3s all;
        visibility: hidden;
        transform: translateX(-50%);
        margin-top: -100px;
        z-index: 999999;

        &.floating {
            top: 4.3rem;
        }

        &.floating-sm {
            top: 3.4rem;
        }

        &.active {
            opacity: 1;
            visibility: visible;
            margin-top: 0;
        }
    }

    .ctrl {
        ion-button {
            height: 40px;
        }
    }
}
