.b-0 {
    --border-width: 0 !important;
    border-width: 0 !important;
}

.b-1 {
    --border-width: 1px !important;
    border-width: 1px !important;
}

.br-0 {
    border-radius: 0 !important;
    --border-radius: 0 !important;
}

.br-1 {
    border-radius: 1px !important;
    --border-radius: 1px !important;
}

.br-2 {
    border-radius: 2px !important;
    --border-radius: 2px !important;
}

.br-3 {
    border-radius: 3px !important;
    --border-radius: 3px !important;
}

.br-4 {
    border-radius: 4px !important;
    --border-radius: 4px !important;
}

.br-5 {
    border-radius: 5px !important;
    --border-radius: 5px !important;
}

.br-8 {
    border-radius: 8px !important;
    --border-radius: 8px !important;
}

.br-16 {
    border-radius: 16px !important;
    --border-radius: 16px !important;
}

.br-35 {
    border-radius: 35px !important;
    --border-radius: 35px !important;
}

.br-full {
    border-radius: 100% !important;
    --border-radius: 100% !important;
}

.b-primary {
    border-color: var(--ion-color-primary);
}

.b-softgray {
    border-color: var(--ion-color-softgray);
}

.b-medium {
    border-color: var(--ion-color-medium);
    --border-color: var(--ion-color-medium);
}

.b-kindle-tint {
    border-color: var(--ion-color-kindle-tint);
    --border-color: var(--ion-color-kindle-tint);
}
