.ion-color-blank {
    --ion-color-base: var(--ion-color-blank);
    --ion-color-base-rgb: var(--ion-color-blank-rgb);
    --ion-color-contrast: var(--ion-color-blank-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blank-contrast-rgb);
    --ion-color-shade: var(--ion-color-blank-shade);
    --ion-color-tint: var(--ion-color-blank-tint);
}

.ion-color-darksecondary {
    --ion-color-base: var(--ion-color-darksecondary);
    --ion-color-base-rgb: var(--ion-color-darksecondary-rgb);
    --ion-color-contrast: var(--ion-color-darksecondary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darksecondary-contrast-rgb);
    --ion-color-shade: var(--ion-color-darksecondary-shade);
    --ion-color-tint: var(--ion-color-darksecondary-tint);
}

.ion-color-info {
    --ion-color-base: var(--ion-color-info);
    --ion-color-base-rgb: var(--ion-color-info-rgb);
    --ion-color-contrast: var(--ion-color-info-contrast);
    --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb);
    --ion-color-shade: var(--ion-color-info-shade);
    --ion-color-tint: var(--ion-color-info-tint);
}

.ion-color-blankplain {
    --ion-color-base: var(--ion-color-blankplain);
    --ion-color-base-rgb: var(--ion-color-blankplain-rgb);
    --ion-color-contrast: var(--ion-color-blankplain-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blankplain-contrast-rgb);
    --ion-color-shade: var(--ion-color-blankplain-shade);
    --ion-color-tint: var(--ion-color-blankplain-tint);
}

.ion-color-kindle {
    --ion-color-base: var(--ion-color-kindle);
    --ion-color-base-rgb: var(--ion-color-kindle-rgb);
    --ion-color-contrast: var(--ion-color-kindle-contrast);
    --ion-color-contrast-rgb: var(--ion-color-kindle-contrast-rgb);
    --ion-color-shade: var(--ion-color-kindle-shade);
    --ion-color-tint: var(--ion-color-kindle-tint);
}

.ion-color-muted {
    --ion-color-base: var(--ion-color-muted);
    --ion-color-base-rgb: var(--ion-color-muted-rgb);
    --ion-color-contrast: var(--ion-color-muted-contrast);
    --ion-color-contrast-rgb: var(--ion-color-muted-contrast-rgb);
    --ion-color-shade: var(--ion-color-muted-shade);
    --ion-color-tint: var(--ion-color-muted-tint);
}

.ion-color-darkgray {
    --ion-color-base: var(--ion-color-darkgray);
    --ion-color-base-rgb: var(--ion-color-darkgray-rgb);
    --ion-color-contrast: var(--ion-color-darkgray);
    --ion-color-contrast-rgb: var(--ion-color-darkgray-rgb);
    --ion-color-shade: var(--ion-color-darkgray);
    --ion-color-tint: var(--ion-color-darkgray);
}

.ion-color-bare {
    --ion-color-base: var(--ion-color-bare);
    --ion-color-base-rgb: var(--ion-color-bare);
    --ion-color-contrast: var(--ion-color-bare);
    --ion-color-contrast-rgb: var(--ion-color-bare);
    --ion-color-shade: var(--ion-color-bare);
    --ion-color-tint: var(--ion-color-bare);
}
