.m-0 {
    margin: 0 !important;
    --margin-left: 0;
    --margin-top: 0;
    --margin-right: 0;
    --margin-bottom: 0;
    --margin-start: 0;
    --margin-end: 0;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
    --margin-top: 0;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
    --margin-right: 0;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
    --margin-bottom: 0;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
    --margin-left: 0;
}

.m-1 {
    margin: 4px !important;
    --margin-left: 4px;
    --margin-top: 4px;
    --margin-right: 4px;
    --margin-bottom: 4px;
    --margin-start: 4px;
    --margin-end: 4px;
}

.mt-1,
.my-1 {
    margin-top: 4px !important;
    --margin-top: 4px;
}

.mr-1,
.mx-1 {
    margin-right: 4px !important;
    --margin-right: 4px;
}

.mb-1,
.my-1 {
    margin-bottom: 4px !important;
    --margin-bottom: 4px;
}

.ml-1,
.mx-1 {
    margin-left: 4px !important;
    --margin-left: 4px;
}

.m-1-half {
    margin: 6px !important;
    --margin-left: 6px;
    --margin-top: 6px;
    --margin-right: 6px;
    --margin-bottom: 6px;
    --margin-start: 6px;
    --margin-end: 6px;
}

.mt-1-half,
.my-1-half {
    margin-top: 6px !important;
    --margin-top: 6px;
}

.mr-1-half,
.mx-1-half {
    margin-right: 6px !important;
    --margin-right: 6px;
}

.mb-1-half,
.my-1-half {
    margin-bottom: 6px !important;
    --margin-bottom: 6px;
}

.ml-1-half,
.mx-1-half {
    margin-left: 6px !important;
    --margin-left: 6px;
}

.m-2 {
    margin: 8px !important;
    --margin-left: 8px;
    --margin-top: 8px;
    --margin-right: 8px;
    --margin-bottom: 8px;
    --margin-start: 8px;
    --margin-end: 8px;
}

.mt-2,
.my-2 {
    margin-top: 8px !important;
    --margin-top: 8px;
}

.mr-2,
.mx-2 {
    margin-right: 8px !important;
    --margin-right: 8px;
}

.mb-2,
.my-2 {
    margin-bottom: 8px !important;
    --margin-bottom: 8px;
}

.ml-2,
.mx-2 {
    margin-left: 8px !important;
    --margin-left: 8px;
}

.m-3 {
    margin: 16px !important;
    --margin-left: 16px;
    --margin-top: 16px;
    --margin-right: 16px;
    --margin-bottom: 16px;
    --margin-start: 16px;
    --margin-end: 16px;
}

.mt-3,
.my-3 {
    margin-top: 16px !important;
    --margin-top: 16px;
}

.mr-3,
.mx-3 {
    margin-right: 16px !important;
    --margin-right: 16px;
}

.mb-3,
.my-3 {
    margin-bottom: 16px !important;
    --margin-bottom: 16px;
}

.ml-3,
.mx-3 {
    margin-left: 16px !important;
    --margin-left: 16px;
}

.m-4 {
    margin: 24px !important;
    --margin-left: 24px;
    --margin-top: 24px;
    --margin-right: 24px;
    --margin-bottom: 24px;
    --margin-start: 24px;
    --margin-end: 24px;
}

.mt-4,
.my-4 {
    margin-top: 24px !important;
    --margin-top: 24px;
}

.mr-4,
.mx-4 {
    margin-right: 24px !important;
    --margin-right: 24px;
}

.mb-4,
.my-4 {
    margin-bottom: 24px !important;
    --margin-bottom: 24px;
}

.ml-4,
.mx-4 {
    margin-left: 24px !important;
    --margin-left: 24px;
}

.m-5 {
    margin: 48px !important;
    --margin-left: 48px;
    --margin-top: 48px;
    --margin-right: 48px;
    --margin-bottom: 48px;
    --margin-start: 48px;
    --margin-end: 48px;
}

.mt-5,
.my-5 {
    margin-top: 48px !important;
    --margin-top: 48px;
}

.mr-5,
.mx-5 {
    margin-right: 48px !important;
    --margin-top: 48px;
}

.mb-5,
.my-5 {
    margin-bottom: 48px !important;
    --margin-bottom: 48px;
}

.ml-5,
.mx-5 {
    margin-left: 48px !important;
    --margin-left: 48px;
}

.p-0 {
    padding: 0 !important;
    --padding-left: 0;
    --padding-top: 0;
    --padding-right: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
}

.pt-0,
.py-0 {
    padding-top: 0 !important;
    --padding-top: 0;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
    --padding-right: 0;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important;
    --padding-bottom: 0;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
    --padding-left: 0;
}

.p-1 {
    padding: 4px !important;
    --padding-left: 4px;
    --padding-top: 4px;
    --padding-right: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    --padding-end: 4px;
}

.pt-1,
.py-1 {
    padding-top: 4px !important;
    --padding-top: 4px;
}

.pr-1,
.px-1 {
    padding-right: 4px !important;
    --padding-right: 4px;
}

.pb-1,
.py-1 {
    padding-bottom: 4px !important;
    --padding-bottom: 4px;
}

.pl-1,
.px-1 {
    padding-left: 4px !important;
    --padding-left: 4px;
}

.p-2 {
    padding: 8px !important;
    --padding-left: 8px;
    --padding-top: 8px;
    --padding-right: 8px;
    --padding-bottom: 8px;
    --padding-start: 8px;
    --padding-end: 8px;
}

.pt-2,
.py-2 {
    padding-top: 8px !important;
    --padding-top: 8px;
}

.pr-2,
.px-2 {
    padding-right: 8px !important;
    --padding-right: 8px;
}

.pb-2,
.py-2 {
    padding-bottom: 8px !important;
    --padding-bottom: 8px;
}

.pl-2,
.px-2 {
    padding-left: 8px !important;
    --padding-left: 8px;
}

.p-3 {
    padding: 16px !important;
    --padding-left: 16px;
    --padding-top: 16px;
    --padding-right: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
}

.pt-3,
.py-3 {
    padding-top: 16px !important;
    --padding-top: 16px;
}

.pr-3,
.px-3 {
    padding-right: 16px !important;
    --padding-right: 16px;
}

.pb-3,
.py-3 {
    padding-bottom: 16px !important;
    --padding-bottom: 16px;
}

.pl-3,
.px-3 {
    padding-left: 16px !important;
    --padding-left: 16px;
}

.p-4 {
    padding: 24px !important;
    --padding-left: 24px;
    --padding-top: 24px;
    --padding-right: 24px;
    --padding-bottom: 24px;
    --padding-start: 24px;
    --padding-end: 24px;
}

.pt-4,
.py-4 {
    padding-top: 24px !important;
    --padding-top: 24px;
}

.pr-4,
.px-4 {
    padding-right: 24px !important;
    --padding-right: 24px;
}

.pb-4,
.py-4 {
    padding-bottom: 24px !important;
    --padding-bottom: 24px;
}

.pl-4,
.px-4 {
    padding-left: 24px !important;
    --padding-left: 24px;
}

.p-5 {
    padding: 48px !important;
    --padding-left: 48px;
    --padding-top: 48px;
    --padding-right: 48px;
    --padding-bottom: 48px;
    --padding-start: 48px;
    --padding-end: 48px;
}

.pt-5,
.py-5 {
    padding-top: 48px !important;
    --padding-top: 48px;
}

.pr-5,
.px-5 {
    padding-right: 48px !important;
    --padding-right: 48px;
}

.pb-5,
.py-5 {
    padding-bottom: 48px !important;
    --padding-bottom: 48px;
}

.pl-5,
.px-5 {
    padding-left: 48px !important;
    --padding-left: 48px;
}

.m-auto {
    margin: auto !important;
    --margin-left: auto;
    --margin-top: auto;
    --margin-right: auto;
    --margin-bottom: auto;
    --margin-start: auto;
    --margin-end: auto;
}

.mt-auto,
.my-auto {
    margin-top: auto !important;
    --margin-top: auto;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
    --margin-right: auto;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
    --margin-bottom: auto;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
    --margin-left: auto;
}
