.letter-spacing-0 {
    letter-spacing: normal;
}

.letter-spacing-1 {
    letter-spacing: 0.4px;
}

.letter-spacing-2 {
    letter-spacing: 0.8px;
}

.letter-spacing-3 {
    letter-spacing: 1.2px;
}

.letter-spacing-4 {
    letter-spacing: 1.6px;
}

.letter-spacing-5 {
    letter-spacing: 2px;
}

.text-xs {
    font-size: 10px !important;
}

.text-sm {
    font-size: 12px !important;
}

.text-13 {
    font-size: 13px !important;
}

.text-md {
    font-size: 14px !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 18px !important;
}

.text-xxl {
    font-size: 24px !important;
}

.text-lg {
    font-size: 16px !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-weight-normal {
    font-weight: normal !important;
}

.font-weight-500 {
    font-weight: 600 !important;
}

.font-weight-light {
    font-weight: lighter !important;
}

.text-muted {
    color: #b4b4b4 !important;
}

.text-darkgray {
    color: var(--ion-color-darkgray);
}

.text-dark {
    color: var(--ion-color-dark) !important;
}

.text-dark-tint {
    color: var(--ion-color-dark-tint);
}

.text-kindle {
    color: var(--ion-color-kindle);
}

.text-medium-shade {
    color: var(--ion-color-medium-shade);
}

.text-blank {
    color: var(--ion-color-blank) !important;
}

.text-over {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

.text-danger {
    color: var(--ion-color-danger) !important;
}

.text-secondary {
    color: var(--ion-color-secondary) !important;
}

.text-primary {
    color: var(--ion-color-primary) !important;
}

.text-info {
    color: var(--ion-color-info) !important;
}
