<ion-header mode="ios" class="bg-blank">
    <ion-toolbar mode="ios" color="blank">
        <div class="container">
            <ion-title color="grey-dark" class="text-lg font-semibold leading-6 px-14">
                <span i18n>Create an Account</span>
            </ion-title>
            <ion-buttons slot="start" *ngIf="(step$ | async) !== 3">
                <ion-button mode="md" (click)="handlePrev()"
                            [shape]="'round'" class="back-button" color="grey-dark"
                >
                    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
    <div class="grid grid-cols-3 gap-x-1">
        <ng-container *ngFor="let number of [1, 2, 3]">
            <div class="w-full bg-{{ (step$ | async) >= number ? 'primary' : 'grey-200' }}" style="height: 8px;"></div>
        </ng-container>
    </div>
    <mealme-common-snackbar-alert [error]="(error$ | async)"
                                  [timer]="2000"
    ></mealme-common-snackbar-alert>
    <mealme-common-snackbar-alert [success]="(success$ | async)"
                                  [timer]="2000"
    ></mealme-common-snackbar-alert>
</ion-header>

<ion-content class="bg-blank">
    <div class="{{ (step$ | async) !== 1 ? 'hidden' : '' }}">
        <div class="my-6 mx-4">
            <div class="mb-2"><ion-text class="text-2xl font-bold">Basic Personal Data</ion-text></div>
            <div><ion-text class="font-normal" color="grey-500">You need to fill your basic personal data to continue registering for Mealme.</ion-text></div>
        </div>
        <hr class="separator bg-gray-100"/>
        <div class="my-6 mx-4">
            <mealme-auth-basic-signup-form (submitted)="handleCreateUser($event)" #basicFormTpl [form]="basicForm"></mealme-auth-basic-signup-form>
        </div>
    </div>
    <div class="{{ (step$ | async) !== 2 ? 'hidden' : '' }}">
        <div class="my-6 mx-4">
            <div class="mb-2"><ion-text class="text-2xl font-bold">Email Verification</ion-text></div>
            <div><ion-text class="font-normal" color="grey-500">We have sent an email containing the verification code to confirm your identity. Please fill the following form with the code.</ion-text></div>
        </div>
        <hr class="separator bg-gray-100"/>
        <div class="my-6 mx-4">
            <mealme-common-auth-code-form (submitted)="handleVerifyUser($event)" #codeFormTpl [form]="codeForm"></mealme-common-auth-code-form>
        </div>
    </div>
    <div class="{{ (step$ | async) !== 3 ? 'hidden' : '' }}">
        <div class="my-6 mx-4">
            <div class="mb-2"><ion-text class="text-2xl font-bold">Password</ion-text></div>
            <div><ion-text class="font-normal" color="grey-500">Create your own password for your Mealme account.</ion-text></div>
        </div>
        <hr class="separator bg-gray-100"/>
        <div class="mt-6 mx-4">
            <mealme-auth-password-signup-form (submitted)="handleCreateCustomer($event)" #passwordFormTpl [form]="passwordForm"></mealme-auth-password-signup-form>
        </div>
        <div class="mx-4">
            <ion-text class="font-semibold" style="font-size: 14px;">By registering, You are agree that you have read and accepted the User Agreement, you consent to our Privacy Notice and receiving marketing communications from us.</ion-text>
            <div class="mt-4">
                <ion-button
                    mode="ios"
                    color="blank"
                    expand="block"
                    size="default"
                    class="ion-shadow ion-border"
                >User Agreement</ion-button>
            </div>
            <div class="mt-4">
                <ion-button
                    mode="ios"
                    color="blank"
                    expand="block"
                    size="default"
                    class="ion-shadow ion-border"
                >Privacy Notice</ion-button>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer class="p-4 bg-blank" mode="ios">
    <ion-button [disabled]="loading$ | async" (click)="handleNext(true)" color="primary" fill="solid" expand="block" size="default"
                mode="ios" class="ion-no-margin leading-5 h-11"
    >
        <ng-container *ngTemplateOutlet="buttonFill"></ng-container>
    </ion-button>

    <ng-template #buttonFill>
        <ng-container *ngIf="loading$ | async else btnTpl">
            <ion-spinner name="crescent"></ion-spinner>
        </ng-container>
        <ng-template #btnTpl>
            {{ (step$ | async) === lastStep ? 'Submit' : 'Next' }}
        </ng-template>
    </ng-template>
</ion-footer>
