<ion-header mode="ios">
    <ion-toolbar mode="md" class="closeable-modal-header toolbar-border-200">
        <div>
            <ion-title></ion-title>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-blank" style="min-height: 330px !important; height: auto !important">
    <mealme-common-list-item (clicked)="handleOpenModal('likes')" title="Likes" [description]="chosenLikesText !== null ? chosenLikesText : 'No ingredients selected'"></mealme-common-list-item>
    <mealme-common-list-item (clicked)="handleOpenModal('dislikes')" title="Dislikes" [description]="chosenDislikeText !== null ? chosenDislikeText : 'No ingredients selected'"></mealme-common-list-item>
    <mealme-common-list-item (clicked)="handleOpenModal('allergies')" title="Allergies" [description]="chosenAllergiesText !== null ? chosenAllergiesText : 'No ingredients selected'"></mealme-common-list-item>
    <mealme-common-list-item title="Diet Type" [description]="'No diet type selected'"></mealme-common-list-item>
</ion-content>