<ion-content [forceOverscroll]="true" [scrollEvents]="true" [fullscreen]="true"
             [scrollVertical]="true"
>
    <div class="px-4 py-4 flex items-center justify-between header-section">
        <div>
            <div>
                <ion-text class="text-sm font-semibold uppercase" color="grey-500">{{ today.getDay() + 1 | day: 'text' }} {{ today.getDate() }} {{ today.getMonth() + 1 | monthName: 'text' }} </ion-text>
            </div>
            <div>
                <ion-text class="text-2xl font-semibold" color="grey-dark">Your Meal Plan </ion-text>
            </div>
        </div>
        <ion-button (click)="handleNavigate('/app/blank/account')" mode="ios" color="primary" class="rounded-full">
            <feather-icon class="text-blank" [name]="'user-fill'"></feather-icon>
        </ion-button>
    </div>
    <ng-container *ngIf="loading$ | async; else noMealLoadingTpl">
        <swiper
                [effect]="'coverflow'"
                [grabCursor]="true"
                [centeredSlides]="true"
                [slidesPerView]="'auto'"
                [coverflowEffect]="coverflowEffect"
                [pagination]="false"
                [spaceBetween]="10"
                class="mySwiper px-4"
                [zoom]="true"
        >
            <ng-template swiperSlide *ngFor="let meal of [1, 2, 3, 4]; let i = index"
            >
                <div style="min-height: 75vh; width: 100%">
                    <mealme-meal-plan-card [loading]="true"></mealme-meal-plan-card>
                </div>
            </ng-template>
        </swiper>
    </ng-container>
    <ng-template #noMealLoadingTpl>
        <ng-container *ngIf="plan$ | async as plan; else noDataTpl">
            <swiper
                    [effect]="'coverflow'"
                    [grabCursor]="true"
                    [centeredSlides]="true"
                    [slidesPerView]="'auto'"
                    [coverflowEffect]="coverflowEffect"
                    [pagination]="false"
                    [spaceBetween]="10"
                    class="mySwiper px-4"
                    [zoom]="true"
            >
                <ng-template swiperSlide *ngFor="let meal of (plan$ | async).planMenus; let i = index"
                >
                    <div style="min-height: 50vh">
                        <mealme-meal-plan-card (clicked)="handleNavigate('app/blank/meals/' + $event.menuId)" [plan]="plan$ | async" [planMenu]="meal" [loading]="false"></mealme-meal-plan-card>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div style="min-height: 50vh" class="border-2 rounded-lg border-primary w-full flex items-center justify-center">
                        <div class="px-8">
                            <img src="assets/icon/cooking.svg" class="w-1/2 h-1/2 ml-auto mr-auto">
                            <div class="mt-2">
                                <ion-text class="text-lg font-semibold" color="grey-dark">Today's plan is over!</ion-text>
                            </div>
                            <div>
                                <ion-text class="text-sm font-semibold" color="grey-500">See more of your meal plan. Click!</ion-text>
                            </div>
                            <ion-button (click)="handleNavigate('/app/blank/planner')" class="mt-2" color="secondary" fill="outline" mode="ios" size="small">
                                See More
                            </ion-button>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </ng-container>
        <ng-template #noDataTpl>
            <div class="px-4">
                <div style="min-height: 50vh" class="border-2 rounded-lg border-primary w-full flex items-center justify-center">
                    <div class="px-8 flex items-center justify-center flex-col">
                        <img src="assets/icon/cooking.svg" class="w-1/2 h-1/2 ml-auto mr-auto">
                        <div class="mt-2">
                            <ion-text class="text-lg font-semibold" color="grey-dark">You have no plan</ion-text>
                        </div>
                        <div>
                            <ion-text class="text-sm font-semibold" color="grey-500">Generate your meal plan now!</ion-text>
                        </div>
                        <ion-button (click)="handleGenerateClicked()" class="mt-2" color="secondary" fill="outline" mode="ios" size="small">
                            Generate Now
                        </ion-button>
                    </div>
                </div>
            </div>

        </ng-template>
    </ng-template>
    <div class="px-4 mt-4">
        <ion-text class="text-2xl font-semibold" color="grey-dark">Your Yesterday's Meals</ion-text>
    </div>
    <div class="px-4 mb-3">
        <ion-text class="text-sm font-semibold" color="grey-500">Trace back your meal yesterday here</ion-text>
    </div>
    <ng-container *ngIf="(loading$ | async); else noMealsLoadingTpl">
        <div class="flex items-center whitespace-nowrap mb-10 px-4">
            <div *ngFor="let item of [1, 2, 3, 4, 5, 6]; let i = index"
                 class="mx-2"
                 [class.mr-4]="i === 5"
            >
                <mealme-next-meal-card [loading]="true"></mealme-next-meal-card>
            </div>
        </div>
    </ng-container>
    <ng-template #noMealsLoadingTpl>
        <ng-container *ngIf="yesterdayPlans$ | async as plan; else noYesterdayPlanTpl">
            <div class="flex items-center whitespace-nowrap overflow-x-auto mb-10 px-4">
                <div *ngFor="let meal of plan.planMenus as meals; let i = index"
                     class="mx-2"
                     [class.mr-4]="i === (meals.length - 1)"
                     style="min-width: 250px; min-height: 150px;"
                >
                    <mealme-next-meal-card (itemClicked)="handleNavigate('/app/blank/meals/' + $event)" [plan]="plan" [planMenu]="meal" [loading]="false"></mealme-next-meal-card>
                </div>
            </div>
        </ng-container>
        <ng-template #noYesterdayPlanTpl>
            <div class="px-4 mb-10">
                <div style="min-height: 150px" class="border-2 rounded-lg border-primary w-full flex items-center justify-center p-4">
                    <div class="px-8 flex items-center justify-center flex-col">
                        <img src="assets/icon/no-yesterday-plan.svg" class="w-1/2 h-1/2 ml-auto mr-auto">
                        <div class="mt-2">
                            <ion-text class="text-lg font-semibold" color="grey-dark">You have no plans yesterday</ion-text>
                        </div>
                        <div>
                            <ion-text class="text-sm font-semibold" color="grey-500">It's okay! There is always tomorrow</ion-text>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>
</ion-content>
