:host {
    ion-header {
        ion-toolbar,
        ion-buttons,
        ion-title {
            height: 80px;
        }
    }

    .header-logo {
        width: auto;
        height: 45px;
        object-fit: contain;
    }

    .section-logo {
        width: 26px;
        height: 26px;
    }

    .header-section {
        ion-button {
            --border-radius: 100%;
            width: 40px;
            height: 40px;
            --padding-bottom: 0;
            --padding-top: 0;
            --padding-start: 0;
            --padding-end: 0;
        }
    }
}
