@mixin borderColorize($color) {
    &.ion-border {
        --border-width: 1px;
        --border-style: solid;
        --border-color: var(--ion-color-#{$color}-border);
    }
}

@mixin solidColorize($color) {
    &:hover {
        --ion-color-base: var(--ion-color-#{$color}-tint);
    }

    &:active, &.ion-activated, &:focus {
        --ion-color-base: var(--ion-color-#{$color}-shade);
    }
}

ion-button {
    --border-radius: 8px;
    --box-shadow: var(--ion-border-radius-sm);
    height: auto;
    font-weight: 600;

    .no-shadow {
        --box-shadow: none;
    }

    &[shape='round'] {
        --border-radius: 50%;
    }

    &[shape='rounded-lg'] {
        --border-radius: 8px !important;
    }

    &[shape='rounded-xl'] {
        --border-radius: 60px !important;
    }

    &[shape='rect'] {
        --border-radius: 0;
    }

    &[fill="clear"], &.shadow-none {
        --box-shadow: none !important;
    }

    &::part(native) {
        line-height: 150%;
    }

    &, &[size='default'] {
        --padding-start: 1rem;
        --padding-end: 1rem;
        --padding-top: .5rem;
        --padding-bottom: .5rem;
        font-size: 1rem;
    }

    &[size='small'] {
        --padding-start: .5rem;
        --padding-end: .5rem;
        --padding-top: .25rem;
        --padding-bottom: .25rem;
        font-size: 0.875rem;
    }

    &[size='large'] {
        --padding-start: 1.25rem;
        --padding-end: 1.25rem;
        --padding-top: .75rem;
        --padding-bottom: .75rem;
        font-size: 1.125rem;
    }

    &[size='custom'] {
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
    }

    @each $color in $colors {
        &.button-solid {
            &.ion-color-#{$color} {
                @include borderColorize($color);
                @include solidColorize($color);
            }
        }
    }
}

.back-button {
    --border-radius: 50%;
    min-width: 48px;
    height: 48px !important;
    --box-shadow: none;
    margin-left: -3px !important;

    ion-icon {
        font-size: 24px !important;
    }
}
