.bottom-modal {
    align-items: flex-end;
    height: 100%;
    top: unset;
    bottom: 0;

    &.header-spaced {
        height: calc(100% - 54px);
    }

    .modal-shadow, .modal-wrapper {
        min-height: 30%;
        height: 40%;
        max-height: 90%;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }

    &.bottom-modal-padding {
        padding: 16px;

        .modal-shadow, .modal-wrapper {
            border-radius: 16px;
        }

        .modal-wrapper {
            .closeable-modal-header {
                ion-title {
                    display: none !important;
                }
            }
        }

        ion-button {
            --border-radius: 10px;
        }
    }

    &.bottom-modal-auto {
        --height: auto;

        .modal-wrapper {
            .ion-page {
                position: relative;
                display: block;
                contain: content;

                .inner-content {
                    max-height: 75vh;
                    overflow: auto;
                }
            }
        }
    }
}

.modal-rounded {
    .modal-shadow, .modal-wrapper {
        border-radius: 10px !important;
    }
}

.modal-h-0 {
    --height: 0;
    .modal-shadow, .modal-wrapper {
        height: 0;
    }
}

.modal-h-0\.5 {
    --height: 0.125rem;
    .modal-shadow, .modal-wrapper {
        height: 0.125rem;
    }
}

.modal-h-1 {
    --height: 0.25rem;
    .modal-shadow, .modal-wrapper {
        height: 0.25rem;
    }
}

.modal-h-1\.5 {
    --height: 0.375rem;
    .modal-shadow, .modal-wrapper {
        height: 0.375rem;
    }
}

.modal-h-2 {
    --height: 0.5rem;
    .modal-shadow, .modal-wrapper {
        height: 0.5rem;
    }

}

.modal-h-2\.5 {
    --height: 0.625rem;
    .modal-shadow, .modal-wrapper {
        height: 0.625rem;
    }

}

.modal-h-3 {
    --height: 0.75rem;
    .modal-shadow, .modal-wrapper {
        height: 0.75rem;
    }

}

.modal-h-3\.5 {
    --height: 0.875rem;
    .modal-shadow, .modal-wrapper {
        height: 0.875rem;
    }

}

.modal-h-4 {
    --height: 1rem;
    .modal-shadow, .modal-wrapper {
        height: 1rem;
    }

}

.modal-h-5 {
    --height: 1.25rem;
    .modal-shadow, .modal-wrapper {
        height: 1.25rem;
    }

}

.modal-h-6 {
    --height: 1.5rem;
    .modal-shadow, .modal-wrapper {
        height: 1.5rem;
    }

}

.modal-h-7 {
    --height: 1.75rem;
    .modal-shadow, .modal-wrapper {
        height: 1.75rem;
    }

}

.modal-h-8 {
    --height: 2rem;
    .modal-shadow, .modal-wrapper {
        height: 2rem;
    }

}

.modal-h-9 {
    --height: 2.25rem;
    .modal-shadow, .modal-wrapper {
        height: 2.25rem;
    }

}

.modal-h-10 {
    --height: 2.5rem;
    .modal-shadow, .modal-wrapper {
        height: 2.5rem;
    }

}

.modal-h-11 {
    --height: 2.75rem;
    .modal-shadow, .modal-wrapper {
        height: 2.75rem;
    }

}

.modal-h-12 {
    --height: 3rem;
    .modal-shadow, .modal-wrapper {
        height: 3rem;
    }

}

.modal-h-14 {
    --height: 3.5rem;
    .modal-shadow, .modal-wrapper {
        height: 3.5rem;
    }

}

.modal-h-16 {
    --height: 4rem;
    .modal-shadow, .modal-wrapper {
        height: 4rem;
    }

}

.modal-h-20 {
    --height: 5rem;
    .modal-shadow, .modal-wrapper {
        height: 5rem;
    }

}

.modal-h-24 {
    --height: 6rem;
    .modal-shadow, .modal-wrapper {
        height: 6rem;
    }

}

.modal-h-28 {
    --height: 7rem;
    .modal-shadow, .modal-wrapper {
        height: 7rem;
    }

}

.modal-h-32 {
    --height: 8rem;
    .modal-shadow, .modal-wrapper {
        height: 8rem;
    }

}

.modal-h-36 {
    --height: 9rem;
    .modal-shadow, .modal-wrapper {
        height: 9rem;
    }

}

.modal-h-40 {
    --height: 10rem;
    .modal-shadow, .modal-wrapper {
        height: 10rem;
    }

}

.modal-h-44 {
    --height: 11rem;
    .modal-shadow, .modal-wrapper {
        height: 11rem;
    }

}

.modal-h-48 {
    --height: 12rem;
    .modal-shadow, .modal-wrapper {
        height: 12rem;
    }

}

.modal-h-52 {
    --height: 13rem;
    .modal-shadow, .modal-wrapper {
        height: 13rem;
    }

}

.modal-h-56 {
    --height: 14rem;
    .modal-shadow, .modal-wrapper {
        height: 14rem;
    }

}

.modal-h-60 {
    --height: 15rem;
    .modal-shadow, .modal-wrapper {
        height: 15rem;
    }

}

.modal-h-64 {
    --height: 16rem;
    .modal-shadow, .modal-wrapper {
        height: 16rem;
    }

}

.modal-h-72 {
    --height: 18rem;
    .modal-shadow, .modal-wrapper {
        height: 18rem;
    }

}

.modal-h-80 {
    --height: 20rem;
    .modal-shadow, .modal-wrapper {
        height: 20rem;
    }

}

.modal-h-96 {
    --height: 24rem;
    .modal-shadow, .modal-wrapper {
        height: 24rem;
    }

}

.modal-h-auto {
    --height: auto;
    .modal-shadow, .modal-wrapper {
        height: auto;
    }

}

.modal-h-px {
    --height: 1px;
    .modal-shadow, .modal-wrapper {
        height: 1px;
    }

}

.modal-h-1\/2 {
    --height: 50%;
    .modal-shadow, .modal-wrapper {
        height: 50%;
    }

}

.modal-h-1\/3 {
    --height: 33.33333%;
    .modal-shadow, .modal-wrapper {
        height: 33.333333%;
    }

}

.modal-h-2\/3 {
    --height: 66.666667%;
    .modal-shadow, .modal-wrapper {
        height: 66.666667%;
    }
}

.modal-h-1\/4 {
    --height: 25%;
    .modal-shadow, .modal-wrapper {
        height: 25%;
    }

}

.modal-h-2\/4 {
    --height: 50%;
    .modal-shadow, .modal-wrapper {
        height: 50%;
    }

}

.modal-h-3\/4 {
    --height: 75%;
    .modal-shadow, .modal-wrapper {
        height: 75%;
    }

}

.modal-h-1\/5 {
    --height: 20%;
    .modal-shadow, .modal-wrapper {
        height: 20%;
    }

}

.modal-h-2\/5 {
    --height: 40%;
    .modal-shadow, .modal-wrapper {
        height: 40%;
    }

}

.modal-h-3\/5 {
    --height: 60%;
    .modal-shadow, .modal-wrapper {
        height: 60%;
    }

}

.modal-h-4\/5 {
    --height: 80%;
    .modal-shadow, .modal-wrapper {
        height: 80%;
    }

}

.modal-h-1\/6 {
    --height: 16.666667%;
    .modal-shadow, .modal-wrapper {
        height: 16.666667%;
    }

}

.modal-h-2\/6 {
    --height: 33.333333%;
    .modal-shadow, .modal-wrapper {
        height: 33.333333%;
    }

}

.modal-h-3\/6 {
    --height: 50%;
    .modal-shadow, .modal-wrapper {
        height: 50%;
    }

}

.modal-h-4\/6 {
    --height: 66.6666667%;
    .modal-shadow, .modal-wrapper {
        height: 66.666667%;
    }

}

.modal-h-5\/6 {
    --height: 83.3333333%;
    .modal-shadow, .modal-wrapper {
        height: 83.333333%;
    }

}

.modal-h-full {
    --height: 100%;
    .modal-shadow, .modal-wrapper {
        height: 100%;
    }

}

.modal-h-screen {
    --height: 100vh;
    .modal-shadow, .modal-wrapper {
        height: 100vh;
    }

}

.modal-h-9\/10 {
    --height: 90%;
    .modal-shadow, .modal-wrapper {
        height: 90%;
    }
}

.modal-h-1\/10 {
    --height: 10%;
    .modal-shadow, .modal-wrapper {
        height: 10%
    }
}

.modal-w-0 {
    .modal-shadow, .modal-wrapper {
        width: 0;
    }
}

.modal-w-0\.5 {
    .modal-shadow, .modal-wrapper {
        width: 0.125rem;
    }
}

.modal-w-1 {
    .modal-shadow, .modal-wrapper {
        width: 0.25rem;
    }

}

.modal-w-1\.5 {
    .modal-shadow, .modal-wrapper {
        width: 0.375rem;
    }
}

.modal-w-2 {
    .modal-shadow, .modal-wrapper {
        width: 0.5rem;
    }

}

.modal-w-2\.5 {
    .modal-shadow, .modal-wrapper {
        width: 0.625rem;
    }

}

.modal-w-3 {
    .modal-shadow, .modal-wrapper {
        width: 0.75rem;
    }

}

.modal-w-3\.5 {
    .modal-shadow, .modal-wrapper {
        width: 0.875rem;
    }

}

.modal-w-4 {
    .modal-shadow, .modal-wrapper {
        width: 1rem;
    }

}

.modal-w-5 {
    .modal-shadow, .modal-wrapper {
        width: 1.25rem;
    }

}

.modal-w-6 {
    .modal-shadow, .modal-wrapper {
        width: 1.5rem;
    }

}

.modal-w-7 {
    .modal-shadow, .modal-wrapper {
        width: 1.75rem;
    }

}

.modal-w-8 {
    .modal-shadow, .modal-wrapper {
        width: 2rem;
    }

}

.modal-w-9 {
    .modal-shadow, .modal-wrapper {
        width: 2.25rem;
    }

}

.modal-w-10 {
    .modal-shadow, .modal-wrapper {
        width: 2.5rem;
    }

}

.modal-w-11 {
    .modal-shadow, .modal-wrapper {
        width: 2.75rem;
    }

}

.modal-w-12 {
    .modal-shadow, .modal-wrapper {
        width: 3rem;
    }

}

.modal-w-14 {
    .modal-shadow, .modal-wrapper {
        width: 3.5rem;
    }

}

.modal-w-16 {
    .modal-shadow, .modal-wrapper {
        width: 4rem;
    }

}

.modal-w-20 {
    .modal-shadow, .modal-wrapper {
        width: 5rem;
    }

}

.modal-w-24 {
    .modal-shadow, .modal-wrapper {
        width: 6rem;
    }

}

.modal-w-28 {
    .modal-shadow, .modal-wrapper {
        width: 7rem;
    }

}

.modal-w-32 {
    .modal-shadow, .modal-wrapper {
        width: 8rem;
    }

}

.modal-w-36 {
    .modal-shadow, .modal-wrapper {
        width: 9rem;
    }

}

.modal-w-40 {
    .modal-shadow, .modal-wrapper {
        width: 10rem;
    }

}

.modal-w-44 {
    .modal-shadow, .modal-wrapper {
        width: 11rem;
    }

}

.modal-w-48 {
    .modal-shadow, .modal-wrapper {
        width: 12rem;
    }

}

.modal-w-52 {
    .modal-shadow, .modal-wrapper {
        width: 13rem;
    }

}

.modal-w-56 {
    .modal-shadow, .modal-wrapper {
        width: 14rem;
    }

}

.modal-w-60 {
    .modal-shadow, .modal-wrapper {
        width: 15rem;
    }

}

.modal-w-64 {
    .modal-shadow, .modal-wrapper {
        width: 16rem;
    }

}

.modal-w-72 {
    .modal-shadow, .modal-wrapper {
        width: 18rem;
    }

}

.modal-w-80 {
    .modal-shadow, .modal-wrapper {
        width: 20rem;
    }

}

.modal-w-96 {
    .modal-shadow, .modal-wrapper {
        width: 24rem;
    }

}

.modal-w-auto {
    .modal-shadow, .modal-wrapper {
        width: auto;
    }

}

.modal-w-px {
    .modal-shadow, .modal-wrapper {
        width: 1px;
    }

}

.modal-w-1\/2 {
    .modal-shadow, .modal-wrapper {
        width: 50%;
    }

}

.modal-w-1\/3 {
    .modal-shadow, .modal-wrapper {
        width: 33.333333%;
    }

}

.modal-w-2\/3 {
    .modal-shadow, .modal-wrapper {
        width: 66.666667%;
    }

}

.modal-w-1\/4 {
    .modal-shadow, .modal-wrapper {
        width: 25%;
    }

}

.modal-w-2\/4 {
    .modal-shadow, .modal-wrapper {
        width: 50%;
    }

}

.modal-w-3\/4 {
    .modal-shadow, .modal-wrapper {
        width: 75%;
    }
}

.modal-w-1\/5 {
    .modal-shadow, .modal-wrapper {
        width: 20%;
    }

}

.modal-w-2\/5 {
    .modal-shadow, .modal-wrapper {
        width: 40%;
    }

}

.modal-w-3\/5 {
    .modal-shadow, .modal-wrapper {
        width: 60%;
    }

}

.modal-w-4\/5 {
    .modal-shadow, .modal-wrapper {
        width: 80%;
    }

}

.modal-w-1\/6 {
    .modal-shadow, .modal-wrapper {
        width: 16.666667%;
    }

}

.modal-w-2\/6 {
    .modal-shadow, .modal-wrapper {
        width: 33.333333%;
    }

}

.modal-w-3\/6 {
    .modal-shadow, .modal-wrapper {
        width: 50%;
    }

}

.modal-w-4\/6 {
    .modal-shadow, .modal-wrapper {
        width: 66.666667%;
    }

}

.modal-w-5\/6 {
    .modal-shadow, .modal-wrapper {
        width: 83.333333%;
    }

}

.modal-w-full {
    .modal-shadow, .modal-wrapper {
        width: 100%;
    }

}

.modal-w-screen {
    .modal-shadow, .modal-wrapper {
        width: 100vw;
    }

}

.modal-w-9\/10 {
    .modal-shadow, .modal-wrapper {
        width: 90%;
    }
}

.closeable-modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 0 !important;
    height: 69px;
    --border-color: var(--ion-color-grey-200);

    ion-title {
        position: absolute;
        top: 8px;
        background: var(--ion-color-grey-light);
        width: 32px;
        height: 4px;
        border-radius: 40px;
        left: 50%;
        margin-left: -20px;
    }

    .title-section {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .title-content {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.minimized {
        height: 30px;

        ion-title {
            top: 20px;
        }
    }
}

.modal-rounded {
    --border-radius: 0.75rem !important;
}

.modal-squared {
    --border-radius: 0 !important;
}

.web-modal {
    position: fixed !important;
    --width: auto !important;
    --height: auto !important;
    .modal-wrapper {
        .ion-page {
            position: relative;
            display: block;
            contain: content;
        }
    }

    &.scrollable {
        .modal-wrapper {
            .ion-page {
                position: relative;
                display: block;
                contain: content;
                height: 100% !important;
            }
        }
    }

    &.left-modal {
        justify-content: start !important;
    }
}

.full-modal {
    --width: 100% !important;
    --height: 100% !important;
}

.mobile-modal {
    position: fixed !important;
    // --width: auto !important;
    --height: auto !important;
    .modal-wrapper {
        .ion-page {
            position: relative;
            display: block;
            contain: content;
        }
    }
}

ion-modal {
    &:not(.no-backdrop) {
        --backdrop-opacity: 0.8 !important;

        ion-backdrop {
            background: var(--ion-color-grey-800);
        }
    }
}

.disclaimer-modal {
    ol, ul {
        list-style: decimal !important;
        padding: 1rem !important;
    }

}
