ion-radio {
    --border-color: var(--ion-color-grey-light);
    &.radio-checked {
        &::part(container) {
            background: var(--ion-color-primary);
            border-color: var(--ion-color-primary);
        }
    }
    &::part(container) {
        background: var(--ion-color-grey-100);
        border-width: 2px;
        border-color: var(--border-color);
    }

    &::part(mark) {
        background: var(--ion-color-blank);
    }
}
