ion-header {
    ion-toolbar {
        --min-height: 54px;
        height: calc(54 + env(safe-area-inset-bottom));
        margin-bottom: -1px;
        --border-color: var(--ion-color-grey-200);

        &.no-border {
            --border-width: 0 !important;
        }
    }

    .toolbar-border-100 {
        --border-color: var(--ion-color-grey-100);
    }

    .toolbar-border-200 {
        --border-color: var(--ion-color-grey-200);
    }
}
