<div #loader [hidden]="!pageable"
     class="d-flex align-items-center justify-content-center"
>
    {{ offset | json }}
    <!--<ion-text color="primary" *ngIf="loading">
        <ubud-loader-components></ubud-loader-components>
    </ion-text>-->
</div>
