<form method="post" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">
    <ion-item class="form-group py-0" [class.form-group-error]="codeErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Verification Code</span></ion-label>
            <ion-input type="text" class="form-control" formControlName="otp"
                       mode="ios"
                       placeholder="Input code here"></ion-input>
            <ubud-form-error #codeErrorTpl [control]="form.formGroup.get('otp')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <button type="submit" class="hidden"></button>
</form>
