<form method="post" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">
    <ion-item class="form-group py-0" [class.form-group-error]="titleErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Food Name</span></ion-label>
            <ion-input type="text" class="form-control" formControlName="title"
                       mode="ios"
                       placeholder="Your awesome food name here"></ion-input>
            <ubud-form-error #titleErrorTpl [control]="form.formGroup.get('title')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item detail="false" class="form-group pb-0" style="--inner-padding-end: 0">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Image</span></ion-label>
            <ng-container *ngIf="image$ | async; let image; else noImageTpl">
                <ion-item (click)="selectImage()" button="true" class="p-0 w-full rounded-lg" detail="false" style="--inner-padding-end: 0">
                    <img [src]="image?.data" class="w-full object-cover" style="height: 182px !important;"/>
                </ion-item>
            </ng-container>
            <ng-template #noImageTpl>
                <ion-item (click)="selectImage()" button="true" class="p-0 rounded-lg" detail="false" style="--inner-padding-end: 0">
                    <div class="border rounded-lg border-gray-200 w-full flex items-center justify-center flex-col p-10">
                        <feather-icon name="camera" class="text-gray-500 h-20 w-20"></feather-icon>
                        <div><ion-text class="text-sm" color="grey-500">Insert your picture here</ion-text> </div>
                    </div>
                </ion-item>
            </ng-template>
        </div>
    </ion-item>
    <ion-item detail="false" class="form-group pb-0" style="--inner-padding-end: 0">
        <div class="grid grid-cols-2 gap-x-2">
            <ion-item class="form-group py-0" [class.form-group-error]="calorieAmountErrorTpl.hasError()">
                <div class="form-group-wrapper">
                    <ion-label slot="stacked"><span i18n>Calorie Amount</span></ion-label>
                    <ion-input type="text" class="form-control" formControlName="calorieAmount"
                               mode="ios"
                               placeholder="200 Kcal"></ion-input>
                    <ubud-form-error #calorieAmountErrorTpl [control]="form.formGroup.get('calorieAmount')"
                                     [rules]="form.rules"></ubud-form-error>
                </div>
            </ion-item>
            <ion-item class="form-group py-0" [class.form-group-error]="durationErrorTpl.hasError()">
                <div class="form-group-wrapper">
                    <ion-label slot="stacked"><span i18n>Duration</span></ion-label>
                    <ion-input type="text" class="form-control" formControlName="duration"
                               mode="ios"
                               placeholder="20"></ion-input>
                    <ubud-form-error #durationErrorTpl [control]="form.formGroup.get('duration')"
                                     [rules]="form.rules"></ubud-form-error>
                </div>
            </ion-item>
        </div>
    </ion-item>
    <ion-item class="form-group" [class.form-group-error]="descriptionErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Food Name</span></ion-label>
            <ion-textarea class="form-control" formControlName="description"
                       mode="ios"
                       placeholder="Your awesome food description here"></ion-textarea>
            <ubud-form-error #descriptionErrorTpl [control]="form.formGroup.get('description')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
</form>
