<ion-header mode="ios" class="bg-blank">
    <ion-toolbar mode="ios" color="blank">
        <div class="container">
            <ion-title color="grey-dark" class="text-lg font-semibold leading-6 px-14">
                <span i18n>Ingredients</span>
            </ion-title>
            <ion-buttons slot="start">
                <ion-button mode="md"
                            [shape]="'round'" class="back-button" color="grey-dark"
                            (click)="dismiss(false)"
                >
                    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
    <div class="sticky-header bg-white px-4 w-full border border-b-grey-100">
        <div class="py-2">
            <mealme-search-input
                [(ngModel)]="keyword"
                [debounce]="500"
                placeholder="Search Ingredients Here"
                [nativeClass]="'rounded-lg text-gray-500 shadow-sm'"
                (ngModelChange)="handleKeywordChanged($event)"
            ></mealme-search-input>
        </div>
    </div>
    <div *ngIf="chosenItems.length > 0" class="py-2 px-4">
        <ion-chip color="success" *ngFor="let i of chosenItems" (click)="handleDeleteItem(i)">{{ i.name }}</ion-chip>
    </div>
</ion-header>

<ion-content class="bg-blank">
    <ng-container
        *ngFor="let ingredient of ingredients"
    >
        <mealme-common-list-item
            [title]="ingredient.name"
            [logo]="ingredient.imageUrl"
            (click)="handleSelected(ingredient)"
            [nativeLogoClass]="'h-8 w-8'"
            [nativeClass]="'text-grey-dark font-semibold'"
        ></mealme-common-list-item>
    </ng-container>

</ion-content>

<ion-footer class="p-4 bg-blank" mode="ios">
    <ion-button color="primary" fill="solid" expand="block" size="default"
                mode="ios" class="ion-no-margin leading-5 h-11"
                (click)="dismiss(true)"
                [disabled]="loading$ | async"
    >
        <ng-container *ngIf="loading$ | async else btnTpl">
            <ion-spinner name="crescent"></ion-spinner>
        </ng-container>
        <ng-template #btnTpl>
            <ng-container *ngTemplateOutlet="buttonFill"></ng-container>
        </ng-template>
    </ion-button>

    <ng-template #buttonFill>
        Choose {{ chosenItems.length }} Item(s)
    </ng-template>
</ion-footer>
