.bg-transparent {
    --background: transparent !important;
    background-color: transparent !important;
}

.bg-primary {
    background-color: var(--ion-color-primary);
    --background: var(--ion-color-primary);
}
.bg-primary-shade {
    background-color: var(--ion-color-primary-shade);
    --background: var(--ion-color-primary-shade);
}
.bg-primary-plain {
    background-color: var(--ion-color-primary-plain);
    --background: var(--ion-color-primary-plain);
}
.bg-primary-tint {
    background-color: var(--ion-color-primary-tint);
    --background: var(--ion-color-primary-tint);
}
.bg-primary-tint-extra {
    background-color: var(--ion-color-primary-tint-extra);
    --background: var(--ion-color-primary-tint-extra);
}

.bg-secondary {
    background-color: var(--ion-color-secondary);
    --background: var(--ion-color-secondary);
}
.bg-secondary-shade {
    background-color: var(--ion-color-secondary-shade);
    --background: var(--ion-color-secondary-shade);
}
.bg-secondary-tint {
    background-color: var(--ion-color-secondary-tint);
    --background: var(--ion-color-secondary-tint);
}

.bg-tertiary {
    background-color: var(--ion-color-tertiary);
    --background: var(--ion-color-tertiary);
}
.bg-tertiary-shade {
    background-color: var(--ion-color-tertiary-shade);
    --background: var(--ion-color-tertiary-shade);
}
.bg-tertiary-tint {
    background-color: var(--ion-color-tertiary-tint);
    --background: var(--ion-color-tertiary-tint);
}
.bg-tertiary-tint-extra {
    background-color: var(--ion-color-tertiary-tint-extra);
    --background: var(--ion-color-tertiary-tint-extra);
}

.bg-success {
    background-color: var(--ion-color-success);
    --background: var(--ion-color-success);
}
.bg-success-shade {
    background-color: var(--ion-color-success-shade);
    --background: var(--ion-color-success-shade);
}
.bg-success-plain {
    background-color: var(--ion-color-success-plain);
    --background: var(--ion-color-success-plain);
}
.bg-success-tint {
    background-color: var(--ion-color-success-tint);
    --background: var(--ion-color-success-tint);
}

.bg-warning {
    background-color: var(--ion-color-warning);
    --background: var(--ion-color-warning);
}
.bg-warning-shade {
    background-color: var(--ion-color-warning-shade);
    --background: var(--ion-color-warning-shade);
}
.bg-warning-plain {
    background-color: var(--ion-color-warning-plain);
    --background: var(--ion-color-warning-plain);
}
.bg-warning-tint {
    background-color: var(--ion-color-warning-tint);
    --background: var(--ion-color-warning-tint);
}

.bg-danger {
    background-color: var(--ion-color-danger);
    --background: var(--ion-color-danger);
}
.bg-danger-shade {
    background-color: var(--ion-color-danger-shade);
    --background: var(--ion-color-danger-shade);
}
.bg-danger-plain {
    background-color: var(--ion-color-danger-plain);
    --background: var(--ion-color-danger-plain);
}
.bg-danger-tint {
    background-color: var(--ion-color-danger-tint);
    --background: var(--ion-color-danger-tint);
}

.bg-dark {
    background-color: var(--ion-color-dark);
    --background: var(--ion-color-dark);
}
.bg-dark-shade {
    background-color: var(--ion-color-dark-shade);
    --background: var(--ion-color-dark-shade);
}
.bg-dark-tint {
    background-color: var(--ion-color-dark-tint);
    --background: var(--ion-color-dark-tint);
}

.bg-medium {
    background-color: var(--ion-color-medium);
    --background: var(--ion-color-medium);
}
.bg-medium-shade {
    background-color: var(--ion-color-medium-shade);
    --background: var(--ion-color-medium-shade);
}
.bg-medium-tint {
    background-color: var(--ion-color-medium-tint);
    --background: var(--ion-color-medium-tint);
}

.bg-light {
    background-color: var(--ion-color-light);
    --background: var(--ion-color-light);
}
.bg-light-shade {
    background-color: var(--ion-color-light-shade);
    --background: var(--ion-color-light-shade);
}
.bg-light-plain {
    background-color: var(--ion-color-light-plain);
    --background: var(--ion-color-light-plain);
}
.bg-light-tint {
    background-color: var(--ion-color-light-tint);
    --background: var(--ion-color-light-tint);
}

.bg-blank {
    background-color: var(--ion-color-blank);
    --background: var(--ion-color-blank);
}
.bg-blank-shade {
    background-color: var(--ion-color-blank-shade);
    --background: var(--ion-color-blank-shade);
}
.bg-blank-plain {
    background-color: var(--ion-color-blank-plain);
    --background: var(--ion-color-blank-plain);
}
.bg-blank-tint {
    background-color: var(--ion-color-blank-tint);
    --background: var(--ion-color-blank-tint);
}

.bg-kindle {
    --background: var(--ion-color-kindle);
}
