.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 560px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 992px;
    }
}
