@import './ripple';
@import './container';
@import './background';
@import './preset';
@import './cropper';

html.ios {
    --ion-default-font: 'Open Sans', sans-serif;
}

html.md {
    --ion-default-font: 'Open Sans', sans-serif;
}
