<mealme-common-item-card [title]="value ? (value | date:labelFormat) : (placeholder || 'Input Date')"
                                       [disabled]="disabled"
                                       [customArrow]="true"
                                       (itemClicked)="datePickerTpl.open()"
                                       [nativeClass]="nativeClass"
                                       [customBorder]="customBorder"
                                       [color]="color"
                                       [icon]="!switchLogo ? 'calendar' : null"
                                       [iconClass]="color === 'primary' ? 'text-primary' : null"
                                       [nativeStyle]="nativeStyle"
                                       [pxSmaller]="pxContentSmaller"
>
    <feather-icon name="calendar" *ngIf="switchLogo"></feather-icon>
</mealme-common-item-card>

<ion-datetime [placeholder]="placeholder" class="form-control hidden" mode="ios"
              #datePickerTpl
              [(ngModel)]="value"
              [min]="min"
              [max]="max"
              (ngModelChange)="writeValue($event)"
              [monthNames]="monthNames"
              [ngModelOptions]="{ standalone: true }"
              [displayFormat]="displayFormat"
              [pickerFormat]="pickerFormat"
              [disabled]="disabled"
              [pickerOptions]="{ cssClass: 'date-picker ' + pickerNativeClass }"
              [doneText]="doneText"
></ion-datetime>
