<div (click)="itemClicked.emit(data)" class="border br-8 border-grey-200 p-3">
    <div class="flex items-center">
        <feather-icon style="height: 30px; width: 30px;" [name]="data.icon" class="mr-3"></feather-icon>
        <div>
            <div>
                <ion-text color="grey-dark" class="font-bold mb-2">{{ data.title }}</ion-text>
            </div>
            <div><ion-text color="grey-500 text-sm">{{ data.text }}</ion-text> </div>
        </div>
    </div>
</div>
