:host {
    width: 100%;

    .phone-input-wrapper {
        display: flex;
        align-items: center;
        height: 44px;

        div {
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: 10px;
            padding-left: 10px;
            border-right: 1px solid #d3d5da;
            background: #f9fafb;
            color: #9ea3ae;
        }

        input {
            -webkit-appearance: none;
            border: none;
            background: transparent;
            flex: 1;
            outline: none;
            width: 100%;
            padding-left: 10px;

            &:focus {
                box-shadow: none !important;
            }

            &.hideDialCode {
                padding-left: 0;
            }

            ::placeholder {
                color: #d1d4db;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type='number'] {
            -moz-appearance: textfield;
        }
    }
}
