<div class="form-control phone-input-wrapper" [ngStyle]="nativeStyle" [ngClass]="nativeClass">
    <div class="" *ngIf="dialCode">
        <p>{{ dialCode || '+62'}}</p>
    </div>
    <input type="tel" #telInput [(ngModel)]="value" (ngModelChange)="writeValue($event)" [placeholder]="placeholder || 'Masukan nomor telepon'"
           class="text-sm" [ngClass]="inputNativeClass"
           [class.hideDialCode]="!dialCode"
           [readOnly]="disabled"
    />
</div>
