<form method="post" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">
    <ion-item class="form-group py-0" [class.form-group-error]="emailErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Email</span></ion-label>
            <ion-input type="text" class="form-control" formControlName="email"
                       mode="ios"
                       placeholder="Input email here"></ion-input>
            <ubud-form-error #emailErrorTpl [control]="form.formGroup.get('email')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item class="form-group pb-0" [class.form-group-error]="firstNameErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>First Name</span></ion-label>
            <ion-input type="text" class="form-control" formControlName="firstName"
                       mode="ios"
                       placeholder="Input first name here"></ion-input>
            <ubud-form-error #firstNameErrorTpl [control]="form.formGroup.get('firstName')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item class="form-group pb-0" [class.form-group-error]="lastNameErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Last Name</span></ion-label>
            <ion-input type="text" class="form-control" formControlName="lastName"
                       mode="ios"
                       placeholder="Input last name here"></ion-input>
            <ubud-form-error #lastNameErrorTpl [control]="form.formGroup.get('lastName')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item class="form-group pb-0" [class.form-group-error]="phoneErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Phone Number</span></ion-label>
            <ion-input type="text" class="form-control" formControlName="phone"
                       mode="ios"
                       placeholder="Input phone number here"></ion-input>
            <ubud-form-error #phoneErrorTpl [control]="form.formGroup.get('phone')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <ion-item class="form-group pb-0" [class.form-group-error]="yearOfBirthErrorTpl.hasError()">
        <div class="form-group-wrapper">
            <ion-label slot="stacked"><span i18n>Year of Birth</span></ion-label>
            <ion-input type="text" class="form-control w-2/4" formControlName="yearOfBirth"
                       mode="ios"
                       [brmasker]="{mask:'0000', len:4, type: 'num'}"
                       placeholder="YYYY"></ion-input>
            <ubud-form-error #yearOfBirthErrorTpl [control]="form.formGroup.get('yearOfBirth')"
                             [rules]="form.rules"></ubud-form-error>
        </div>
    </ion-item>
    <button type="submit" class="hidden"></button>
</form>
