<ng-container *ngIf="loading; else noLoadingTpl">
    <ion-skeleton-text animated class="w-full h-40"></ion-skeleton-text>
</ng-container>

<ng-template #noLoadingTpl>
    <div class="w-full relative">
        <ion-card (click)="clicked.emit()" class="mb-0 mx-0 mt-0 rounded-lg border order-lg h-40 border-grey-200 w-full"
                  mode="ios"
        >
            <img [src]="meal.cover" class="object-cover w-full h-full"/>
            <div class="overlay h-40">
                <div class="px-3 pb-2 pt-3 h-40">
                    <div class="flex w-full justify-end"><ion-text color="blank" class="text-sm font-bold">Lunch</ion-text></div>
                    <div><ion-text color="blank" class="text-2xl font-semibold">{{ meal.name }}</ion-text> </div>
                    <div><ion-text color="blank" class="text-sm">by <ion-text color="blank" class="font-semibold text-sm">Mealme Kitchen</ion-text> </ion-text> </div>
                </div>
            </div>
        </ion-card>
        <ion-item (click)="actionClicked.emit(meal)" detail="false" button class="ion-no-padding ion-no-margin ion-no-border bg-transparent ml-auto action-button">
            <div class="ml-auto rounded-full bg-blank/[.06]">
                <feather-icon name="more-horizontal" class="text-blank h-3.5 w-5 font-semibold mr-1"></feather-icon>
            </div>
        </ion-item>
    </div>
</ng-template>
