<ng-container *ngIf="isRoute else notRoutingTpl">
    <div class="tab-stripper" [ngClass]="nativeClass">
        <div class="tab-line"></div>
        <ul class="list-style-none px-4" [class.justify-start]="tabs.length > 3" [class.justify-center]="centerTabs">
            <li
                    *ngFor="let tab of tabs; let i = index"
                    [routerLink]="tab.path"
                    [queryParams]="tab.queryParams"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    style="outline: 0;"
                    class="py-4 whitespace-nowrap"
                    [class.mr-3]="(i < tabs.length - 1) && !centerTabs"
            >
                <ion-text color="grey-400" class="font-semibold text-sm leading-4">{{ tab.title }}</ion-text>
            </li>
        </ul>
    </div>
</ng-container>
<ng-template #notRoutingTpl>
    <div class="tab-stripper" [ngClass]="nativeClass">
        <div class="tab-line"></div>
        <ul class="list-style-none px-4" [class.justify-start]="tabs.length > 3" [class.justify-center]="centerTabs">
            <li
                    *ngFor="let tab of tabs; let i = index"
                    style="outline: 0;"
                    class="py-2 whitespace-nowrap {{ centerTabs ? 'w-1/2 flex items-center text-center justify-center' : ''}}"
                    [class.active]="tab.code === currentActive"
                    [class.mr-3]="(i < tabs.length - 1) && !centerTabs"
                    [class.pr-4]="(i === tabs.length + 1) && !centerTabs"
                    (click)="handleChangeActive(tab.code)"
                    [ngClass]="listClass"
            >
                <ion-text color="grey-400" class="font-semibold text-sm leading-4">{{ tab.title }}</ion-text>
            </li>
            <li class="pr-4" *ngIf="!centerTabs"></li>
        </ul>
    </div>
</ng-template>
