.tab-stripper {
    position: relative;
    overflow-x: auto;

    .tab-line {
        background-color: rgb(235, 236, 240);
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        width: inherit;
        margin: 0;
    }

    > ul {
        display: flex;
        font-weight: 500;
        list-style-type: none;
        overflow: auto;

        li {
            &:first-child {
                padding-left: 0;
                margin-left: 0;
            }

            &.active {
                > ion-text {
                    color: var(--ion-color-primary);
                }
                border-bottom: 3px solid var(--ion-color-primary);
            }
        }
    }

    &.stretch {
        > ul {
            li {
                width: 100% !important;
                text-align: center !important;
            }
        }
    }

    &.tab-no-padding {
        > ul {
            padding: 0;
        }
    }
}
