<ng-container *ngIf="isBookmark === false; else bookmarkTpl">
    <ng-container *ngIf="loading; else noLoadingTpl">
        <ion-skeleton-text style="width: 250px; height: 150px;"></ion-skeleton-text>
    </ng-container>
    <ng-template #noLoadingTpl>
        <div class="w-full relative">
            <ion-card (click)="itemClicked.emit(planMenu.menuId)" [button]="true" class="mb-0 mx-0 mt-0 rounded-lg border order-lg h-40 border-grey-200 w-full"
                      mode="ios"
            >
                <img [src]="planMenu.menu.imageUrl" class="object-cover w-full h-full"/>
                <div class="overlay h-40">
                    <div class="px-3 pb-3 pt-3 h-40 flex flex-col">
                        <div class=" w-full">
                            <div>
                                <ion-text color="blank" class="text-sm font-bold capitalize">{{ plan.date | date:'fullDate' }}</ion-text>
                            </div>
                            <div>
                                <ion-text color="blank" class="text-sm font-bold capitalize">{{ planMenu.mealTime }}</ion-text>
                            </div>
                        </div>
                        <div class="mt-auto">
                            <div><ion-text color="blank" class="text-xl font-semibold">{{ planMenu.menu.title | truncateText: 22 }}</ion-text> </div>
                            <div><ion-text color="blank" class="text-sm">by <ion-text color="blank" class="font-semibold text-sm">Mealme Kitchen</ion-text> </ion-text> </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </ng-template>
</ng-container>
<ng-template #bookmarkTpl>
    <ng-container *ngIf="loading; else noLoadingTpl">
        <ion-skeleton-text style="width: 100%; height: 100px;"></ion-skeleton-text>
    </ng-container>
    <ng-template #noLoadingTpl>
        <div class="w-full relative">
            <ion-card (click)="itemClicked.emit(bookmark)" [button]="true" style="height: 100px !important;" class="mb-0 mx-0 mt-0 rounded-lg border order-lg border-grey-200 w-full"
                      mode="ios"
            >
                <img [src]="bookmark.menu.imageUrl" class="object-cover w-full h-full"/>
                <div class="overlay" style="height: 100px !important;">
                    <div class="px-3 pb-2 pt-3 flex flex-col" style="height: 100px !important;">
                        <div class="mt-auto">
                            <div><ion-text color="blank" class="text-sm font-semibold">{{ bookmark.menu.title | truncateText: 20 }}</ion-text> </div>
                            <div><ion-text color="blank" class="text-xs">by <ion-text color="blank" class="font-semibold text-xs">Mealme Kitchen</ion-text> </ion-text> </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </ng-template>
</ng-template>
