:root {
  /** Transparent **/
  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: transparent;
  --ion-color-transparent-contrast: transparent;
  --ion-color-transparent-contrast-rgb: transparent;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-plain: transparent;
  --ion-color-transparent-tint: transparent;
  .ion-color-transparent {
    --ion-color-base: var(--ion-color-transparent);
    --ion-color-base-rgb: var(--ion-color-transparent-rgb);
    --ion-color-contrast: var(--ion-color-transparent-contrast);
    --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb);
    --ion-color-shade: var(--ion-color-transparent-shade);
    --ion-color-tint: var(--ion-color-transparent-tint);
  }

  /** Blank **/
  --ion-color-blank: #ffffff;
  --ion-color-blank-rgb: 255, 255, 255;
  --ion-color-blank-contrast: #000000;
  --ion-color-blank-contrast-rgb: 0, 0, 0;
  --ion-color-blank-shade: #e0e0e0;
  --ion-color-blank-plain: #fafafa;
  --ion-color-blank-tint: #f5f5f5;
  --ion-color-blank-border: var(--ion-color-grey-200);
  .ion-color-blank {
    --ion-color-base: var(--ion-color-blank);
    --ion-color-base-rgb: var(--ion-color-blank-rgb);
    --ion-color-contrast: var(--ion-color-blank-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blank-contrast-rgb);
    --ion-color-shade: var(--ion-color-blank-shade);
    --ion-color-tint: var(--ion-color-blank-tint);
  }

  /** Blue **/
  --ion-color-blue: #0F53AB;
  --ion-color-blue-rgb: 24, 119, 242;
  --ion-color-blue-contrast: #054290;
  --ion-color-blue-contrast-rgb: 5, 66, 144;
  --ion-color-blue-shade: #e0e0e0;
  --ion-color-blue-tint: #afd0fc;
  --ion-color-blue-border: #e0e0e0;
  .ion-color-blue {
    --ion-color-base: var(--ion-color-blue);
    --ion-color-base-rgb: var(--ion-color-blue-rgb);
    --ion-color-contrast: var(--ion-color-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-blue-shade);
    --ion-color-tint: var(--ion-color-blue-tint);
  }

  --ion-color-primary-100: #e5ffe8;
  --ion-color-primary-100-rgb: 249, 185, 178;
  --ion-color-primary-100-contrast: #19582C;
  --ion-color-primary-100-contrast-rgb: 8, 20, 33;
  --ion-color-primary-100-shade: #6fff7f;
  --ion-color-primary-100-tint: #e5ffe8;
  --ion-color-primary-100-border: #E6E7E9;
  .ion-color-primary-100 {
    --ion-color-base: var(--ion-color-primary-100);
    --ion-color-base-rgb: var(--ion-color-primary-100-rgb);
    --ion-color-contrast: var(--ion-color-primary-100-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primary-100-contrast-rgb);
    --ion-color-shade: var(--ion-color-primary-100-shade);
    --ion-color-tint: var(--ion-color-primary-100-tint);
  }

  /** primary **/
  --ion-color-primary: #00aa13;
  --ion-color-primary-rgb: 79, 0, 17;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00830f;
  --ion-color-primary-tint: #d1ffd6;
  .ion-color-primary-600 {
    --ion-color-base: var(--ion-color-primary);
    --ion-color-base-rgb: var(--ion-color-primary);
    --ion-color-contrast: var(--ion-color-primary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
    --ion-color-shade: var(--ion-color-primary-shade);
    --ion-color-tint: var(--ion-color-primary-tint);
  }

  /** primary dark **/
  --ion-color-primary-dark: #19582c;
  --ion-color-primary-dark-rgb: 79, 0, 17;
  --ion-color-primary-dark-contrast: #ffffff;
  --ion-color-primary-dark-contrast-rgb: 255, 255, 255;
  --ion-color-primary-dark-shade: #2c9e4e;
  --ion-color-primary-dark-tint: #E0FFE2;
  .ion-color-primary-600 {
    --ion-color-base: var(--ion-color-primary-dark);
    --ion-color-base-rgb: var(--ion-color-primary-dark);
    --ion-color-contrast: var(--ion-color-primary-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primary-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-primary-dark-shade);
    --ion-color-tint: var(--ion-color-primary-dark-tint);
  }

  /** secondary **/
  --ion-color-secondary: #388bf2;
  --ion-color-secondary-rgb: 0, 89, 169;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #327dda;
  --ion-color-secondary-tint: #ebf3fe;
  .ion-color-secondary-600 {
    --ion-color-base: var(--ion-color-secondary);
    --ion-color-base-rgb: var(--ion-color-secondary);
    --ion-color-contrast: var(--ion-color-secondary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
    --ion-color-shade: var(--ion-color-secondary-shade);
    --ion-color-tint: var(--ion-color-secondary-tint);
  }

  /** grey **/
  --ion-color-grey-100: #F8F8F8;
  --ion-color-grey-100-rgb: 248, 248, 248;
  --ion-color-grey-100-contrast: #081421;
  --ion-color-grey-100-contrast-rgb: 8, 20, 33;
  --ion-color-grey-100-shade: #b3b2b2;
  --ion-color-grey-100-tint: #d2d2d2;
  --ion-color-grey-100-border: #E6E7E9;
  .ion-color-grey-100 {
    --ion-color-base: var(--ion-color-grey-100);
    --ion-color-base-rgb: var(--ion-color-grey-100-rgb);
    --ion-color-contrast: var(--ion-color-grey-100-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-100-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-100-shade);
    --ion-color-tint: var(--ion-color-grey-100-tint);
  }

  --ion-color-grey-200: #E6E7E9;
  --ion-color-grey-200-rgb: 230, 231, 233;
  --ion-color-grey-200-contrast: #202938;
  --ion-color-grey-200-contrast-rgb: 32, 41, 56;
  --ion-color-grey-200-shade: #9CA2AE;
  --ion-color-grey-200-tint: #F3F4F6;
  .ion-color-grey-200 {
    --ion-color-base: var(--ion-color-grey-200);
    --ion-color-base-rgb: var(--ion-color-grey-200-rgb);
    --ion-color-contrast: var(--ion-color-grey-200-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-200-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-200-shade);
    --ion-color-tint: var(--ion-color-grey-200-tint);
  }

  --ion-color-grey-light: #D1D4DB;
  --ion-color-grey-light-rgb: 209, 212, 219;
  --ion-color-grey-light-contrast: #111828;
  --ion-color-grey-light-contrast-rgb: 17, 24, 40;
  --ion-color-grey-light-shade: #6B7380;
  --ion-color-grey-light-tint: #F3F4F6;
  .ion-color-grey-light {
    --ion-color-base: var(--ion-color-grey-light);
    --ion-color-base-rgb: var(--ion-color-grey-light-rgb);
    --ion-color-contrast: var(--ion-color-grey-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-light-shade);
    --ion-color-tint: var(--ion-color-grey-light-tint);
  }
  .ion-color-grey-300 {
    --ion-color-base: var(--ion-color-grey-light);
    --ion-color-base-rgb: var(--ion-color-grey-light-rgb);
    --ion-color-contrast: var(--ion-color-grey-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-light-shade);
    --ion-color-tint: var(--ion-color-grey-light-tint);
  }

  --ion-color-grey-400: #9CA2AE;
  --ion-color-grey-400-rgb: 156, 162, 174;
  --ion-color-grey-400-contrast: #111828;
  --ion-color-grey-400-contrast-rgb: 17, 24, 40;
  --ion-color-grey-400-shade: #6B7380;
  --ion-color-grey-400-tint: #E6E7EB;
  .ion-color-grey-400 {
    --ion-color-base: var(--ion-color-grey-400);
    --ion-color-base-rgb: var(--ion-color-grey-400-rgb);
    --ion-color-contrast: var(--ion-color-grey-400-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-400-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-400-shade);
    --ion-color-tint: var(--ion-color-grey-400-tint);
  }

  --ion-color-grey-500: #6B7380;
  --ion-color-grey-500-rgb: 107, 115, 128;
  --ion-color-grey-500-contrast: #ffffff;
  --ion-color-grey-500-contrast-rgb: 255, 255, 255;
  --ion-color-grey-500-shade: #384152;
  --ion-color-grey-500-tint: #E6E7EB;
  .ion-color-grey-500 {
    --ion-color-base: var(--ion-color-grey-500);
    --ion-color-base-rgb: var(--ion-color-grey-500-rgb);
    --ion-color-contrast: var(--ion-color-grey-500-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-500-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-500-shade);
    --ion-color-tint: var(--ion-color-grey-500-tint);
  }

  --ion-color-grey: #6B7380;
  --ion-color-grey-rgb: 107, 115, 128;
  --ion-color-grey-contrast: #ffffff;
  --ion-color-grey-contrast-rgb: 255, 255, 255;
  --ion-color-grey-shade: #202938;
  --ion-color-grey-tint: #9CA2AE;
  .ion-color-grey {
    --ion-color-base: var(--ion-color-grey);
    --ion-color-base-rgb: var(--ion-color-grey);
    --ion-color-contrast: var(--ion-color-grey-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-shade);
    --ion-color-tint: var(--ion-color-grey-tint);
  }

  .ion-color-grey-600 {
    --ion-color-base: var(--ion-color-grey);
    --ion-color-base-rgb: var(--ion-color-grey);
    --ion-color-contrast: var(--ion-color-grey-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-shade);
    --ion-color-tint: var(--ion-color-grey-tint);
  }

  --ion-color-grey-700: #384152;
  --ion-color-grey-700-rgb: 56, 65, 82;
  --ion-color-grey-700-contrast: #ffffff;
  --ion-color-grey-700-contrast-rgb: 255, 255, 255;
  --ion-color-grey-700-shade: #111828;
  --ion-color-grey-700-tint: #6B7380;
  .ion-color-grey-700 {
    --ion-color-base: var(--ion-color-grey-700);
    --ion-color-base-rgb: var(--ion-color-grey-700-rgb);
    --ion-color-contrast: var(--ion-color-grey-700-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-700-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-700-shade);
    --ion-color-tint: var(--ion-color-grey-700-tint);
  }

  --ion-color-grey-800: #202938;
  --ion-color-grey-800-rgb: 32, 41, 56;
  --ion-color-grey-800-contrast: #ffffff;
  --ion-color-grey-800-contrast-rgb: 255, 255, 255;
  --ion-color-grey-800-shade: #111828;
  --ion-color-grey-800-tint: #6B7380;
  .ion-color-grey-800 {
    --ion-color-base: var(--ion-color-grey-800);
    --ion-color-base-rgb: var(--ion-color-grey-800-rgb);
    --ion-color-contrast: var(--ion-color-grey-800-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-800-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-800-shade);
    --ion-color-tint: var(--ion-color-grey-800-tint);
  }

  --ion-color-grey-dark: #111828;
  --ion-color-grey-dark-rgb: 17, 24, 40;
  --ion-color-grey-dark-contrast: #ffffff;
  --ion-color-grey-dark-contrast-rgb: 255, 255, 255;
  --ion-color-grey-dark-shade: #384152;
  --ion-color-grey-dark-tint: #384152;
  .ion-color-grey-dark {
    --ion-color-base: var(--ion-color-grey-dark);
    --ion-color-base-rgb: var(--ion-color-grey-dark-rgb);
    --ion-color-contrast: var(--ion-color-grey-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-dark-shade);
    --ion-color-tint: var(--ion-color-grey-dark-tint);
  }
  .ion-color-grey-900 {
    --ion-color-base: var(--ion-color-grey-dark);
    --ion-color-base-rgb: var(--ion-color-grey-dark-rgb);
    --ion-color-contrast: var(--ion-color-grey-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-dark-shade);
    --ion-color-tint: var(--ion-color-grey-dark-tint);
  }

  /** success **/
  --ion-color-success-light: #e4f1e9;
  --ion-color-success-light-rgb: 228, 241, 233;
  --ion-color-success-light-contrast: #085810;
  --ion-color-success-light-contrast-rgb: 8, 88, 16;
  --ion-color-success-light-shade: #107E1B;
  --ion-color-success-light-tint: #e4f1e9;
  .ion-color-success-light {
    --ion-color-base: var(--ion-color-success-light);
    --ion-color-base-rgb: var(--ion-color-success-light-rgb);
    --ion-color-contrast: var(--ion-color-success-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-success-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-success-light-shade);
    --ion-color-tint: var(--ion-color-success-light-tint);
  }

  --ion-color-success: #107E1B;
  --ion-color-success-rgb: 16, 126, 27;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #085810;
  --ion-color-success-tint: #E4F1E9;

  --ion-color-success-dark: #085810;
  --ion-color-success-dark-rgb: 8, 88, 16;
  --ion-color-success-dark-contrast: #ffffff;
  --ion-color-success-dark-contrast-rgb: 255, 255, 255;
  --ion-color-success-dark-shade: #085810;
  --ion-color-success-dark-tint: #107E1B;
  .ion-color-success-dark {
    --ion-color-base: var(--ion-color-success-dark);
    --ion-color-base-rgb: var(--ion-color-success-dark-rgb);
    --ion-color-contrast: var(--ion-color-success-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-success-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-success-dark-shade);
    --ion-color-tint: var(--ion-color-success-dark-tint);
  }

  /** lime **/
  --ion-color-lime-light: #ebffba;
  --ion-color-lime-light-rgb: 235, 255, 186;
  --ion-color-lime-light-contrast: #516718;
  --ion-color-lime-light-contrast-rgb: 81, 103, 24;
  --ion-color-lime-light-shade: #9dc43a;
  --ion-color-lime-light-tint: #ebffba;
  .ion-color-lime-light {
    --ion-color-base: var(--ion-color-lime-light);
    --ion-color-base-rgb: var(--ion-color-lime-light-rgb);
    --ion-color-contrast: var(--ion-color-lime-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lime-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-lime-light-shade);
    --ion-color-tint: var(--ion-color-lime-light-tint);
  }

  --ion-color-lime: #9dc43a;
  --ion-color-lime-rgb: 157, 196, 58;
  --ion-color-lime-contrast: #ffffff;
  --ion-color-lime-contrast-rgb: 255, 255, 255;
  --ion-color-lime-shade: #516718;
  --ion-color-lime-tint: #ebffba;
  .ion-color-lime {
    --ion-color-base: var(--ion-color-lime);
    --ion-color-base-rgb: var(--ion-color-lime-rgb);
    --ion-color-contrast: var(--ion-color-lime-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lime-contrast-rgb);
    --ion-color-shade: var(--ion-color-lime-shade);
    --ion-color-tint: var(--ion-color-lime-tint);
  }

  --ion-color-lime-dark: #516718;
  --ion-color-lime-dark-rgb: 81, 103, 24;
  --ion-color-lime-dark-contrast: #ffffff;
  --ion-color-lime-dark-contrast-rgb: 255, 255, 255;
  --ion-color-lime-dark-shade: #516718;
  --ion-color-lime-dark-tint: #ebffba;
  .ion-color-lime-dark {
    --ion-color-base: var(--ion-color-lime-dark);
    --ion-color-base-rgb: var(--ion-color-lime-dark-rgb);
    --ion-color-contrast: var(--ion-color-lime-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lime-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-lime-dark-shade);
    --ion-color-tint: var(--ion-color-lime-dark-tint);
  }

  /** warning **/
  --ion-color-warning-light: #ffefcf;
  --ion-color-warning-light-rgb: 255, 239, 207;
  --ion-color-warning-light-contrast: #ca9f5a;
  --ion-color-warning-light-contrast-rgb: 202, 159, 90;
  --ion-color-warning-light-shade: #ca9f5a;
  --ion-color-warning-light-tint: #ffefcf;
  .ion-color-warning-light {
    --ion-color-base: var(--ion-color-warning-light);
    --ion-color-base-rgb: var(--ion-color-warning-light-rgb);
    --ion-color-contrast: var(--ion-color-warning-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-warning-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-warning-light-shade);
    --ion-color-tint: var(--ion-color-warning-light-tint);
  }

  --ion-color-warning: #ffc670;
  --ion-color-warning-rgb: 255, 198, 112;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #ca9f5a;
  --ion-color-warning-tint: #ffefcf;

  --ion-color-warning-dark: #ca9f5a;
  --ion-color-warning-dark-rgb: 202, 159, 90;
  --ion-color-warning-dark-contrast: #000000;
  --ion-color-warning-dark-contrast-rgb: 0, 0, 0;
  --ion-color-warning-dark-shade: #ca9f5a;
  --ion-color-warning-dark-tint: #ffefcf;
  .ion-color-warning-dark {
    --ion-color-base: var(--ion-color-warning-dark);
    --ion-color-base-rgb: var(--ion-color-warning-dark-rgb);
    --ion-color-contrast: var(--ion-color-warning-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-warning-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-warning-dark-shade);
    --ion-color-tint: var(--ion-color-warning-dark-tint);
  }

  /** orange **/
  --ion-color-orange-light: #ffdcba;
  --ion-color-orange-light-rgb: 255, 220, 186;
  --ion-color-orange-light-contrast: #815718;
  --ion-color-orange-light-contrast-rgb: 129, 87, 24;
  --ion-color-orange-light-shade: #F3841D;
  --ion-color-orange-light-tint: #ffdcba;
  .ion-color-orange-light {
    --ion-color-base: var(--ion-color-orange-light);
    --ion-color-base-rgb: var(--ion-color-orange-light-rgb);
    --ion-color-contrast: var(--ion-color-orange-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-light-shade);
    --ion-color-tint: var(--ion-color-orange-light-tint);
  }

  --ion-color-orange: #F3841D;
  --ion-color-orange-rgb: 243, 132, 29;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #815718;
  --ion-color-orange-tint: #ffdcba;
  .ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
    --ion-color-base-rgb: var(--ion-color-orange-rgb);
    --ion-color-contrast: var(--ion-color-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-shade);
    --ion-color-tint: var(--ion-color-orange-tint);
  }

  --ion-color-orange-dark: #815718;
  --ion-color-orange-dark-rgb: 129, 87, 24;
  --ion-color-orange-dark-contrast: #000000;
  --ion-color-orange-dark-contrast-rgb: 0, 0, 0;
  --ion-color-orange-dark-shade: #815718;
  --ion-color-orange-dark-tint: #ffdcba;
  .ion-color-orange-dark {
    --ion-color-base: var(--ion-color-orange-dark);
    --ion-color-base-rgb: var(--ion-color-orange-dark-rgb);
    --ion-color-contrast: var(--ion-color-orange-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-dark-shade);
    --ion-color-tint: var(--ion-color-orange-dark-tint);
  }

  /** danger **/
  --ion-color-danger-light: #FFE5E5;
  --ion-color-danger-light-rgb: 255, 229, 229;
  --ion-color-danger-light-contrast: #7C1414;
  --ion-color-danger-light-contrast-rgb: 124 20, 20;
  --ion-color-danger-light-shade: #D94848;
  --ion-color-danger-light-tint: #FFE5E5;
  .ion-color-danger-light {
    --ion-color-base: var(--ion-color-danger-light);
    --ion-color-base-rgb: var(--ion-color-danger-light-rgb);
    --ion-color-contrast: var(--ion-color-danger-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-danger-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-danger-light-shade);
    --ion-color-tint: var(--ion-color-danger-light-tint);
  }

  --ion-color-danger: #D94848;
  --ion-color-danger-rgb: 220, 53, 69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #7C1414;
  --ion-color-danger-tint: #FFE5E5;

  --ion-color-danger-dark: #7C1414;
  --ion-color-danger-dark-rgb: 124 20, 20;
  --ion-color-danger-dark-contrast: #ffffff;
  --ion-color-danger-dark-contrast-rgb: 255, 255, 255;
  --ion-color-danger-dark-shade: #7C1414;
  --ion-color-danger-dark-tint: #FFE5E5;
  .ion-color-danger-dark {
    --ion-color-base: var(--ion-color-danger-dark);
    --ion-color-base-rgb: var(--ion-color-danger-dark-rgb);
    --ion-color-contrast: var(--ion-color-danger-dark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-danger-dark-contrast-rgb);
    --ion-color-shade: var(--ion-color-danger-dark-shade);
    --ion-color-tint: var(--ion-color-danger-dark-tint);
  }

  --ion-border-radius-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
}

$colors: (
        transparent,
        blank,
        primary-100,
        primary-200,
        primary-300,
        primary-light,
        primary-400,
        primary-500,
        primary-600,
        primary,
        primary-700,
        primary-800,
        primary-900,
        primary-dark,
        secondary-100,
        secondary-200,
        secondary-300,
        secondary-light,
        secondary-400,
        secondary-500,
        secondary-600,
        secondary,
        secondary-700,
        secondary-800,
        secondary-900,
        secondary-dark,
        grey-100,
        grey-200,
        grey-light,
        grey-300,
        grey-400,
        grey-500,
        grey-600,
        grey,
        grey-700,
        grey-800,
        grey-dark,
        success-light,
        success,
        success-dark,
        lime-light,
        lime,
        lime-dark,
        warning-light,
        warning,
        warning-dark,
        orange-light,
        orange,
        orange-dark,
        danger-light,
        danger,
        danger-dark,
        blue-light,
        blue,
        blue-dark
);
