<div class="wrapper">
    <ion-input [type]="!showPassword ? 'password' : 'text'" [ngClass]="nativeClass" [ngStyle]="nativeStyle"
               [disabled]="disabled"
               (ionInput)="handleInput($event)"
               [placeholder]="placeholder"
               [clearOnEdit]="false"
               #input
    ></ion-input>
    <ion-button [color]="toggleColor" mode="md" size="small" fill="clear"
                class="letter-spacing-0 ion-text-capitalize m-0 font-weight-500 toggle"
                (click)="showPassword = !showPassword; input.setFocus()"
                buttonType="button" type="button"
    >
        <ng-container *ngIf="showPassword"><fa-icon [icon]="['far', 'eye']"></fa-icon></ng-container>
        <ng-container *ngIf="!showPassword"><fa-icon [icon]="['far', 'eye-slash']"></fa-icon></ng-container>
    </ion-button>
</div>
