<div class="wrapper" (click)="handleOpenPicker()">
    <ion-input type="text" readonly [ngClass]="nativeClass"
               [ngStyle]="nativeStyle"
               [disabled]="disabled"
               [placeholder]="placeholder"
               [clearOnEdit]="false"
               [value]="label"
    ></ion-input>
    <ion-button [color]="toggleColor" mode="md" size="small" fill="clear"
                class="letter-spacing-0 ion-text-capitalize m-0 font-weight-500 toggle"
                buttonType="button" type="button"
    >
        <ion-icon icon="chevron-down-outline"></ion-icon>
    </ion-button>
</div>
