<div class="wrapper flex items-center">
    <ion-text [color]="iconColor" style="opacity: .4;" #ionTextTpl><feather-icon [name]="'search'" class="h-4 w-4" style="margin-bottom: 1px;"></feather-icon></ion-text>
    <ion-input #ionInput type="search" [ngClass]="nativeClass + (colorClass ? ' ' + colorClass : null)" [ngStyle]="nativeStyle"
               [value]="value"
               [disabled]="disabled"
               [readonly]="readonly"
               (ionChange)="handleInput($event)"
               [placeholder]="placeholder"
               [autofocus]="autofocus"
               [clearOnEdit]="false"
               (ionFocus)="clicked.emit(); updateIonTextOpacity(1)"
               (ionBlur)="updateIonTextOpacity(.4)"
               [debounce]="debounce"
    ></ion-input>
    <ion-button #ionResetTpl [hidden]="!value" [color]="iconColor" mode="ios" size="small" fill="clear"
                style="opacity: .4;"
                (click)="handleReset()"
                class="letter-spacing-0 ion-text-capitalize m-0 font-weight-500 toggle text-lg"
                buttonType="button" type="button"
    >
        <feather-icon slot="icon-only" [name]="'x'" class="h-4 w-4"></feather-icon>
    </ion-button>
</div>
