:host {
    .wrapper {
        position: relative;
        overflow: hidden;

        ion-input {
            --padding-start: 35px !important;
            --padding-end: 35px !important;
            font-size: 14px;
        }

        ion-text {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            padding: 0 10px;
        }

        ion-button {
            position: absolute;
            height: 100%;
            top: 0;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            --padding-start: 0;
            --padding-end: 0;
            font-size: 20px;
        }
    }
}
